<html layout:decorate="~{member/mypage_layout}">
<div layout:fragment="tabcontent">
	
	
	<!--order style link-->
	<link rel="stylesheet" th:href="@{/css/order.css}">
	
	
	<div class="d-flex flex-column min-vh-100" id="wrapper">
		
		<!--페이지 제목-->
		<div class="row my-5">
			<div class="pageTitle col text-center">
				주문 처리
			</div>
		</div>
		
		<section class="row vstack orderItem position-relative mb-5">
			
			<p class="subtle f18 c666 fw-bold">
				주문 내역
			</p>
			
			<div class="col gap-3 g-3">
				<!-- 검색 및 필터 기능 -->
				<form class="mb-3 d-flex" id="searchForm">
					<!-- 시작 날짜 선택 -->
					<input type="date" id="startDate" class="form-control me-2" name="startDate">
					
					<!-- 끝 날짜 선택 -->
					<input type="date" id="endDate" class="form-control me-2" name="endDate">
					<input type="text" id="searchInput" class="form-control me-2" placeholder="Search by Order ID" name="search">
					<select class="form-select me-2" id="statusSelect" name="status">
						<option value="">모두 보기</option>
						<option value="PRODUCT_PREPARE">신규주문</option>
						<option value="DELIVERING">배송중</option>
						<option value="COMPLETED">배송완료</option>
						<option value="CANCELLED">주문취소</option>
						<option value="WAITING_CANCEL">취소승인대기</option>
					</select>
					<button type="button" class="btn btn-primary" onclick="fetchOrders()">Search</button>
				</form>
				
				<!-- 주문 목록 테이블 -->
				<table class="table table-hover" id="orderTable">
					<thead>
					<tr>
						<th scope="col">No.</th>
						<th scope="col">주문일자</th>
						<th scope="col">주문번호 ID</th>
						<th scope="col">구매자 ID</th>
						<th scope="col">상태</th>
						<th scope="col">금액</th>
					</tr>
					</thead>
					<tbody id="orderTableBody">
					<!-- Fetch로 받은 데이터를 여기에 렌더링 -->
					</tbody>
				</table>
			
			</div> <!-- //col -->
			
			
			<script th:inline="javascript">
			</script>
		
		</section>
	
	</div><!-- // #wrapper -->
	
	<!--order js link-->
	<script src="/js/order.js"></script>

</div>
</html>