<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<html layout:decorate="~{layout}">
<head>
	<title>리뷰쓰기</title>
</head>
<div layout:fragment="content" class="container">
	
	<!-- font font-awesome CDN -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
	      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
	      crossorigin="anonymous" referrerpolicy="no-referrer"/>
	
	<!-- 제이쿼리 라이브러리 로드 -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	
	
	<!--order style link-->
	<link rel="stylesheet" th:href="@{/css/order.css}">
	<link rel="stylesheet" th:href="@{/css/util.css}">
	
	<!--order js link-->
	<script src="/js/order.js"></script>
	
	
	<div class="row justify-content-center">
		
		<!-- 장바구니 물품 목록 -->
		<div class="col-md-8 col-lg-6 contLeftSide cartItemTable">
			
			<div class="card mb-3"> <!-- 아이템 리스트 출력 박스 -->
				<div class="card-header">
					<div class="form-check">
						<input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
						<label class="form-check-label f14 c777 fw700" for="flexCheckChecked"> 전체선택 </label>
					</div>
				</div> <!-- //card-header -->
				
				<th:block th:each="cartItem : ${cartItemList}">
					<div class="card-body border-bottom d-flex gap-3">
					<i class="fa-solid fa-xmark removeItem" style="position: absolute; right: 15px;"></i>
					<div class="vstack w-25 gap-2 clearfix">
						<input class="form-check-input" type="checkbox" value="" id="" checked>
						<div class="prodImageBox border"
						     style="width: 100%; aspect-ratio: 1; background-image: url('../../static/imgs/shop/product/54057e71-6c5b-4020-b7c1-2f9f9195358b_b4673.png'); background-size: cover; background-position: center;">
							11
						</div>
					</div>
					
					<div class="vstack w-75 pl-3 ml-3">
						<h5 class="card-title fw700 c666 f18 mt-4">사찰음식 밀키트</h5>
						
						<th:block th:if="${cartItem.product.prodDiscount != null and cartItem.product.prodDiscount > 0}">
							<div>
								<p class="prodOrgPrice card-text mb-1 c999 f14 text-decoration-line-through d-inline-block"
								   th:text="|${#numbers.formatInteger(cartItem.product.prodOrgPrice,3,'COMMA')}원|">50,000원</p>
								<span>&nbsp;</span>
								<p class="prodDiscount card-text mr-4 d-inline-block f14 fw700" style="color:orangered;"
								   th:text="${#numbers.formatPercent(cartItem.product.prodDiscount,2,0)}">20%</p>
							</div>
						</th:block>
						<p class="card-text d-inline-block">
                <span class="prodTotalPrice card-text text-end d-inline-block c333 fw700"
                      th:text="|${#numbers.formatInteger(cartItem.product.prodFinalPrice,3,'COMMA')}|">40,000</span>
							<span class="f14">원</span>
						</p>
						
						
						<!--quantity : 구매수량 input, 버튼-->
						<div class="mb-3 quantityBox d-flex align-items-center">
							<div class="number-input rounded-1">
								<button class="minus"><i class="fa-solid fa-minus fa-2xs"></i></button>
								<input type="number" min="1" max="100" class="form-control rounded-0" value="1" id="quantity"
								       name="quantity"/>
								<button class="plus"><i class="fa-solid fa-plus fa-2xs"></i></button>
							</div>
						</div>
						
						
						<input type="hidden" id="finalPrice" th:value="${cartItem.product.prodFinalPrice}"/>
						<input type="hidden" id="totalPrice" name="totalPrice">
					
					</div>
				
				
				</div> <!-- //card-body -->
				</th:block>
				
				<!-- 체크 금액 합계 -->
				
				<div class="card-footer text-center">
					<p style="margin-bottom: 5px;" class="f14 c888 fw700">합계 금액</p>
					<h3 class=" fw700 f22">300,000원</h3>
				</div>
			
			
			</div> <!-- //card -->
		
		
		</div> <!-- //col-md-6 contLeftSide cartItemTable 왼쪽열 -->
		
		
		<style>
        body > .container * {
            color: #333333;
        }

        .removeItem {
            color: #666666ad;
        }

        .removeItem:hover {
            cursor: pointer;
        }

        .removeItem:active {
            color: #333333ad;
        }

        .contRightSide * {
            /* border: 1px solid lightsteelblue; */
            box-sizing: border-box;
        }

        .dlvrAddrCard p input {
            padding: 0;
        }

        .stickyBox {
            position: sticky;
            top: 28px;
        }
		</style>
		
		<div class="col-md-4 contRightSide">
			
			<div class="stickyBox border-success vstack gap-3 ">
				
				<div class="card dlvrAddrCard">
					<div class="card-body">
						<h5 class="card-title mb-3 f16 c666 fw700">배송지</h5>
						<a href="#" class="btn btn-sm card-link addrChangeBtn border float-end">&nbsp; 변경 &nbsp;</a>
						<p class="card-subtitle text-body-secondary w-75">
							<input type="text" class="form-control-plaintext cookOrderNum text-left c666"
							       value="경기도 수원시 땡땡구 땡땡동 경기도 수원시 땡땡구 땡땡동 " name="" tabindex="-1"/>
							<input type="text" class="form-control-plaintext cookOrderNum text-left c666" value="땡땡아파트 101동 101호"
							       name="" tabindex="-1"/>
						</p>
					</div>
				</div> <!-- //card deliveryAddress-->
				<div class="card totalPriceCard">
					<div class="card-body">
						
						<div class="row pricePart my-2">
							<div class="col-6 part c888 f14 fw700 align-text-bottom">상품 금액</div>
							<div class="col-6 text-end price fw700 ">50,000원</div>
						</div>
						<div class="row pricePart my-2">
							<div class="col-6 part c888 f14 fw700 align-text-bottom">할인 금액</div>
							<div class="col-6 text-end price fw700 ">-2,000원</div>
						</div>
						<div class="row pricePart my-2">
							<div class="col-6 part c888 f14 fw700 align-text-bottom">배송비</div>
							<div class="col-6 text-end price fw700">3,000원</div>
						</div>
						<hr>
						<div class="row pricePart my-2">
							<div class="col-6 part c888 f14 fw700 align-text-bottom">최종 결제 금액</div>
							<div class="col-6 text-end price fw700 ">45,000원</div>
						</div>
					</div>
				</div> <!-- //card deliveryAddress-->
				<div class="card">
					<a href="#" class="card-link btn text-bg-success">결제하기</a>
				</div> <!-- // 결제하기 버튼 -->
			
			
			</div> <!-- //stickyBox -->
		
		
		</div> <!-- //contRightSide -->
	
	
	</div> <!-- //전체 row -->


</div> <!--//layout::content-->

<script layout:fragment="script" th:inline="javascript">
    $(function () {

        if ($('#quantity').val() == 1) {
            const minusBtnIcon = $('.minus i');
            minusBtnIcon.removeClass('fa-minus fa-solid ');
            minusBtnIcon.addClass('fa-trash-can  fa-regular opacity-50')
        }

        // 수량이 1이면 -버튼이 휴지통 아이콘
        $('.minus').on('click', function () {
            const minusBtnIcon = $('.minus i');
            if ($('#quantity').val() == 1) {
                minusBtnIcon.toggleClass('fa-minus fa-trash-can fa-solid fa-regular opacity-50');
            }
        })
        // 수량이 1이면 -버튼이 휴지통 아이콘
        $('.plus').on('click', function () {
            const minusBtnIcon = $('.minus i');
            if ($('#quantity').val() == 2) {
                minusBtnIcon.toggleClass('fa-minus fa-trash-can fa-solid fa-regular opacity-50');
            }
        })

    })

</script>


</html>

