<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<html layout:decorate="~{layout}">
<head>
	<title>주문서보기</title>
</head>
<body>
<div layout:fragment="content" class="container  order_po mb-5">
	
	<!-- font font-awesome CDN -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
	      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
	      crossorigin="anonymous" referrerpolicy="no-referrer"/>
	
	<!-- 제이쿼리 라이브러리 로드 -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	

	<!--order style link-->
	<link rel="stylesheet" th:href="@{/css/order.css}">
	<link rel="stylesheet" th:href="@{/css/util.css}">
	
	<!--페이지 제목-->
	<div class="row my-5">
		<div class="pageTitle col text-center">
			주문서
		</div>
	</div>
	
	<form th:action="@{|/order/po/${poForm.orderId}|}" method="post" th:object="${poForm}" id="poForm">
		<input type="hidden" th:field="*{orderId}"/>
		
		<section class="row orderItem position-relative mb-5">
			<p class="subtle f18 c666 fw-bold">
				주문 상품
			</p>
			
			<!-- 주문 상품 목록 -->
			<div class="orderItemTable">
				
				
				<th:block th:each="orderItem, iterStat : ${orderItemList}">
					<div class="d-flex gap-3 border-bottom border-light">
						
						<!-- 상품이미지 -->
						<div class="vstack gap-2 prodImageBoxWrapper my-3">
							
							<div class="prodImageBox border"
							     style="width: 100%; aspect-ratio: 1; background-size: cover; background-position: center;"
							     th:style="|background-image: url(@{  ${orderItem.product.prodMainImg}  }); width: 100%; aspect-ratio: 1; background-size: cover; background-position: center;|">
							</div>
						</div> <!-- // prodImageBoxWrapper -->
						
						
						<div class="vstack pl-3 ml-3 calcItem my-3">
							<h5 class="card-title fw700 c444 f18 mb-3" th:text="${orderItem.product.prodName}">상품명</h5>
							<!--상품명-->
							
							<p class="card-text d-inline-block mb-1 secondaryLine">

								<span class="card-text text-end d-inline-block c555 f14 commaNums"
								      th:attr="data-nums=${orderItem.product.prodFinalPrice}"></span>
								<span class="f14 won">원</span>
								
								
								<!--할인율 > 0 일때-->
								<th:block th:if="${orderItem.product.prodDiscount != null and orderItem.product.prodDiscount > 0}">
											<span
													class="card-text mb-1 c999 f12 text-decoration-line-through d-inline-block commaNums"
													th:attr="data-nums=${orderItem.product.prodOrgPrice}" }></span><span
										class="f12 won text-decoration-line-through c999">원</span>
								</th:block>
								<!--할인 후 가격 * 수량-->
							</p>
							
							<p class="card-text d-inline-block">

										<span class="card-text text-end d-inline-block c333 fw700 commaNums f16"
										      th:attr="data-nums=${orderItem.product.prodFinalPrice * orderItem.quantity }"></span>
								<span class="f14 won">원</span>
								
								<span class="f14 c999 px-2">|</span>
								<span class="card-text text-end d-inline-block c555 fw700 c16 commaNums"
								      th:attr="data-nums=${orderItem.quantity}"></span>
								
								<span class="f14 ea c555">ea</span>
							
							</p>
						
						
						</div>
					
					
					</div> <!-- //card-body -->
				
				</th:block> <!--//orderItemList-->
			
			</div> <!-- //orderItemTable 왼쪽열 -->
		
		</section> <!-- //orderItem -->
		
		
		
		<section class="row orderMember position-relative mb-5">
			<p class="subtle f18 c666 fw-bold">
				주문자 정보
			</p>
			
			<div>
				<table class="table table-borderless">
					<tr>
						<th scope="row">보내는 분</th>
						<td><span th:text="${member.memberName}" id="memberName"></span></td>
					</tr>
					<tr>
						<th scope="row">휴대폰</th>
						<td>
							<span th:text="${@orderService.formatPhoneNumber(member.memberPhone)}"></span>
						</td>
					</tr>
					<tr>
						<th scope="row">이메일</th>
						<td><span th:text="${member.memberEmail}" id="memberEmail"></span></td>
					</tr>
				
				</table>
			</div>
		
		</section> <!-- //orderMember -->
		
		
		
		
		
		<section class="row deleveryInfo position-relative mb-5">
			<p class="subtle f18 c666 fw-bold">
				배송 정보
			</p>
			
			
			
			<div>
				<table class="table table-borderless">
					<tr>
						<th scope="row">배송지</th>
						<td>
							
							<!-- 주소 -->
							<div class="row justify-content-start">

								<div class="col-12 d-flex column-gap-1">
									<input type="text" id="sample4_roadAddress" class="form-control addr" placeholder="도로명주소" th:value="${poForm.addr1}" th:field="*{addr1}" readonly>
									<input type="button" onclick="sample4_execDaumPostcode()" class="btn card-link addrChangeBtn border" value="&nbsp; 변경 &nbsp;"><br>
								</div>
								<div class="col-12 mt-1">
									<input type="text" id="sample4_detailAddress" class="form-control" placeholder="상세주소" th:field="*{addr2}" th:value="${poForm.addr2}" >
									<input type="hidden" id="sample4_postcode" class="form-control" placeholder="우편번호">
									<input type="hidden" id="sample4_jibunAddress" class="form-control" placeholder="지번주소">
									<input type="hidden" id="sample4_extraAddress" class="form-control" placeholder="참고항목">
								</div>
								<span id="guide" style="color:#999;display:none" hidden></span>
							</div>
						
						</td>
					</tr>
					<tr>
						<th scope="row">받는 분</th>
						<td><input type="text" th:field="*{deliveryName}" class="form-control"></td>
					</tr>
					<tr>
						<th scope="row">받는 분 휴대폰</th>
						<td class="container">
							<div class="w-25 d-inline-block"><input type="text" th:field="*{phone1}" class="form-control"></div>
							<span>-</span>
							<div class="w-25 d-inline-block"><input type="text" th:field="*{phone2}" class="form-control"></div>
							<span>-</span>
							<div class="w-25 d-inline-block"><input type="text" th:field="*{phone3}" class="form-control"></div>
						</td>
					</tr>
					<tr class="align-middle">
						<th scope="row">배송 요청사항</th>
						<td><input type="text" class="form-control" th:field="*{deliveryMsg}"></td>
					</tr>
				
				</table>
			</div>
		
		
		</section> <!-- //deleveryInfo -->
		
		
		
		
		<section class="row mileage position-relative mb-5">
			<p class="subtle f18 c666 fw-bold">
				마일리지
			</p>
			
			<div>
				<table class="table table-borderless align-middle">
					<tr>
						<th scope="row">사용가능 마일리지</th>
						<td>
							<span class="commaNums"
							      th:attr="data-nums=${member.mileage}" id="mileage"></span>
							<span class="won">원</span>
						</td>
					</tr>
					<tr>
						<th scope="row">사용금액</th>
						
						
						<td>
							<div class="row justify-content-start">
								<div class="col-12 d-flex column-gap-1">
									<input type="number" class="form-control milePay" th:value="0" th:field="*{milePay}" id="milePay"
									       step="1000">
									<input type="button" onclick="useAllMileage()" class="btn card-link useAll border"
									       value="&nbsp; 모두사용 &nbsp;">
									<!--<a href="javascript:void(0);" class="btn btn-sm border float-start useAll" onclick="useAllMileage();">&nbsp; 모두사용 &nbsp;</a>-->
								</div>
							</div>
						</td>
	
					</tr>
				
				</table>

			</div>
		</section> <!-- //mileage -->
		
		
		
		
		
		<section class="row totalPriceSec position-relative mb-5">
			<p class="subtle f18 c666 fw-bold">
				결제금액
			</p>
			
			<div class="cardWrapper">
				
				
				<div class="card priceCard c999">
					<div class="card-body">
						<div class="tableWrapper">
							<table class="table table-borderless priceTable">
								
								<tr>
									<th>주문금액</th>
									<td>
										<span class="commaNums"
										      th:attr="data-nums=${poForm.finalPrice}" id="finalPrice"></span>
										<span class="won">원</span>
									</td>
								</tr>
								<tr>
									<th class="sm">&nbsp; 상품금액</th>
									<td class="sm">
										<span class="commaNums"
										      th:attr="data-nums=${poForm.orgPrice}"></span>
										<span class="won">원</span>
									</td>
								</tr>
								<tr>
									<th class="sm">&nbsp; 상품할인금액</th>
									<td class="sm">
										<span class="commaNums"
										      th:attr="data-nums=${poForm.discPrice}"></span>
										<span class="won">원</span>
									</td>
								</tr>
								<tr>
									<th>배송비</th>
									<td>
										<span class="commaNums"
										      th:attr="data-nums=${poForm.deliveryFee}"></span>
										<span class="won">원</span>
									</td>
								</tr>
								<tr class="milege">
									<th>마일리지할인</th>
									<td>
										<span class="commaNums milePay"
										      th:attr="data-nums=${poForm.milePay}"></span>
										<span class="won">원</span>
									</td>
								</tr>
								
								<tr class="border-top totalFinal">
									<th>최종결제금액</th>
									<td>
										<span class="commaNums totalPay"
										      th:attr="data-nums=${poForm.totalPay}"></span>
										<span class="won">원</span>
									</td>
								</tr>
							</table>
						</div> <!-- //tableWrapper -->
					</div> <!-- //card-body -->
				</div> <!-- //card priceCard -->
			
			
			</div> <!-- //cardWrapper -->
		
		
		</section> <!-- //totalPriceSec -->
		
		<section class="row payment position-relative mb-5">
			<p class="subtle f18 c666 fw-bold">
				카카오 페이로 결제 하기
			</p>
			<div class="cardWrapper">

				<div class="card border-0">
					<a href="javascript:void(0);" id="payment" class="btn d-flex border btn-warning p-2 rounded-3 justify-content-center align-content-center"
					   style="height: 40px;">
						<picture>
							<source srcset="/imgs/shop/payment/kakaopay_CI_small_textdark.png" media="(max-width: 600px)">
							<img src="/imgs/shop/payment/kakaopay_CI_big_textdark.png" alt="결제하기 버튼"
								 class="c333 fw700" style="max-height: 80%; max-width: 100%;">
						</picture>
					</a>
				</div>

			</div>
		</section> <!-- //payment -->
		
		
		<input type="hidden" th:field="*{totalPrice}" id="totalPrice" th:attr="data-nums=${poForm.totalPrice}" placeholder="총금액">
		<input type="hidden" th:field="*{totalPay}" id="totalPay" th:attr="data-nums=${poForm.totalPay}" placeholder="마일리지 할인까지 하고 난 지불해야할 금액">
		
		

		
	
	
	</form>
	
	<!--포트원 cdn-->
	<script src="https://cdn.iamport.kr/v1/iamport.js"></script>
	<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
	
	<!--daum 주소 입력 api-->
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<!--order js link-->
	<script src="/js/order.js"></script>
	<script src="/js/payment.js"></script>
	


</div> <!--//layout::content-->

<script layout:fragment="script" th:inline="javascript"></script>

</body>
</html>
