<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<html layout:decorate="~{layout}">

<head>
	<title>비건 레시피 올리기</title>
	
	<style>
	
	</style>
	
	<!-- 임시 -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
	      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
	        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
	        crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
	        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
	        crossorigin="anonymous"></script>
	<link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-gothic.css" rel="stylesheet">
	<link rel="stylesheet"
	      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"/>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=28da3dbc8c389b574e0c32075b4e02ba"></script>


</head>


<div layout:fragment="content" class="container detail">
	
	
	<!-- jQuery UI 라이브러리 -->
	<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
	
	<!-- jQuery UI CSS 파일 -->
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
	
	<!--swiper CDN-->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
	
	<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
	
	
	<!--order style link-->
	<link rel="stylesheet" th:href="@{/css/util.css}">
	<link rel="stylesheet" th:href="@{/css/recipe.css}">
	
	<!--order js link-->
	<script src="/js/recipe.js"></script>
	
	
	<section class="main">
		<div class="tagList">
			<th:block  th:each="tagItem : ${tagList}">
				<span class="badge text-bg-success" th:text="${tagItem}"></span>
			</th:block>
		</div>
		
		<h5 class="recpTitle recpName f28 fw700" th:text="${recipe.getRecpName()}"></h5>
		
		<div class="recpInroduce f20 c999" th:text="${recipe.getRecpIntroduce()}">요리 설명</div>
		
		메인이미지
		<div class="swiper mainImgContainer overflow-hidden">
			<div class="swiper-wrapper">
				<th:block th:each="mainImg : ${recpMainImgList}">
					<div class="swiper-slide">
						<div class="mainImgFrame" th:style="|background-image: url('@{  ${mainImg.imgSrc}  }');|"></div>
					</div>
					
				</th:block>
			</div>
			<div class="swiper-pagination"></div>
			<div class="swiper-button-prev"></div>
			<div class="swiper-button-next"></div>
			
		</div>
		
		
		
		
		
		
		
		
		<div class="btnLine">쉐프, 조회수, , 책갈피 등</div>
		
		<div class="row">
			<div class="col-md-5 container-fluid recpInfo border">
				<div class="row">
					<div class="col-6 label">기준인원</div>
					<div class="col-6 text-right info" th:text="|${recipe.getServings()}인분|"></div>
				</div>
				<div class="row">
					<div class="col-6 label">예상소요시간(분)</div>
					<div class="col-6 text-right info" th:text="|${recipe.getCookTime()}분|"></div>
				</div>
				<div class="row">
					<div class="col-6 label">난이도</div>
					<div class="col-6 text-right info" th:text="${recipe.getDifficulty()}"></div>
				</div>
			</div>
			
			<div class="col-md-7 recpIngredient border">
				<p>재료 및 분량</p>
				<table class="table table-sm">
					<thead>
					<tr>
						<th scope="col">재료</th>
						<td>분량</td>
					</tr>
					</thead>
					<tbody th:each="ingredient : ${recpIngredientList}">
					<tr>
						<th scope="row" class="ingrName" th:text="${ingredient.getIngredientName()}"></th>
						<td class="ingrAmount" th:text="${ingredient.getAmount()}"></td>
					</tr>
					</tbody>
				</table>
			</div> <!--재료-->
		
		</div>
	
	
	</section>
	
	
	<section class="cookingSec">
		<!--<ol id="cookOrderCardList">
			
			<li class="card cookOrderCard my-3 border-3 border-success-subtle">
				<div class="card-header">
					<div class="row">
						<div class="col-md-2">
							<input type="button" class="btn btn-outline-secondary btn-sm btn-block removeCard w-100" value="step 제외 (-)"/>
						</div>
						<div class="col-md-8">
							&lt;!&ndash; 레시피 순서 &ndash;&gt;
							<p class="text-center mb-0"><span class="textStep ">Step</span><input type="text" readonly
																				 class="form-control-plaintext cookOrderNum text-left" value="1" name="cookOrderCardList[0].cookOrderNum" tabindex="-1"></p>
							
						</div>
						<div class="col-md-2">
							<input type="button" class="btn border-1 border-success btn-sm btn-block addCard w-100" value="step 추가 (+)"/>
						</div>
					</div>
				</div> &lt;!&ndash; //card-header &ndash;&gt;
				<div class="card-body">
					<div class="row">
						
						<div class="col-md-6">
							<div class="drop-area cookingDropArea">
								<input type="file" class="form-control cookingImgInput" accept="image/*" name="cookOrderCardList[0].cookOrderImg">
								<div class="preview border" style="position: relative;">
									<p>이미지를 여기에 드래그 앤 드롭하세요</p>
								</div>
									&lt;!&ndash;<button type="button" class="remove-btn">X</button> &lt;!&ndash; 삭제 버튼 &ndash;&gt;&ndash;&gt;
							</div>
						
						</div> &lt;!&ndash; // cookOrderImgArea &ndash;&gt;
						
						<div class="col-md-6">
							<textarea class="form-control howToMake" placeholder="조리 방법을 입력하세요"  name="cookOrderCardList[0].cookOrderText"></textarea>
						</div> &lt;!&ndash;cookOrderText&ndash;&gt;
						
					</div>
				
				</div> &lt;!&ndash; //card-body &ndash;&gt;
			</li> &lt;!&ndash; //card &ndash;&gt;
		</ol>-->
	</section>


</div> <!--//layout::content-->

</html>