<html layout:decorate="~{layout}">
<div layout:fragment="content">
	<!-- shop style link -->
	<link rel="stylesheet" th:href="@{/css/announcement.css}">
	<!-- 페이지 제목 -->
	<div class="row rowTitle">
		<div th:if="${pageType.equals('announcement')}" class="pageTitle col text-center">
			공지사항
		</div>
		<div th:if="${!pageType.equals('announcement')}" class="pageTitle col text-center">
			Q & A
		</div>
	</div>
	<div class="container my-5">
		<!-- 공지사항 목록 테이블 -->
		<table class="table table-hover">
			<thead>
				<tr class="table-success">
					<th scope="col">#</th>
					<th scope="col">제목</th>
					<th scope="col">글쓴이</th>
					<th scope="col">작성시간</th>
				</tr>
			</thead>
			<tbody class="table-group-divider">
			    <tr th:each="question, stat : ${questions}"
			        th:class="${question.qAuthor == 'admin'} ? 'table-light' : ''"
			        th:if="${pageType.equals('announcement') ? question.qAuthor == 'admin' : true}">
			        <th scope="row" th:text="${stat.index + 1}"></th>
			        <td>
			            <a th:if="${pageType.equals('announcement')}"
			                th:href="@{/notice/announcement/detail(id=${question.qId})}"
			                th:text="${question.qTitle}"></a>
			            <a th:if="${pageType.equals('qna')}"
			                th:href="@{/notice/qna/detail(id=${question.qId})}"
			                th:text="${question.qTitle}"></a>
			            <span th:if="${question.qAuthor != 'admin'}" th:text="${question.qCategory}"
			                class="badge text-bg-primary mx-2"></span>
			        </td>
			        <td th:text="${question.qAuthor}"></td>
			        <td th:text="${#temporals.format(question.qCreatedTime, 'yyyy.MM.dd.hh.mm.ss')}"></td>
			    </tr>
			</tbody>
		</table>
		<div th:if="${pageType.equals('announcement')}">
			<a th:if="${session.UserId == 'admin'}" th:href="@{/notice/announcementQuestion(memberId=${session.UserId})}"
				class="btn btn-info">공지사항 작성</a>
		</div>
		<a th:if="${pageType.equals('qna')}" th:href="@{/notice/qnaQuestion(memberId=${session.UserId})}"
			class="btn btn-success">질문 등록하기</a>
	</div>
</div>

</html>