<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container">
	<link rel="stylesheet" href="/css/member.css" />
<div class="enter-password d-flex justify-content-center align-items-center">
	<div class="row">
		<div class="col rounded formStyle">
			<form th:action="@{/member/delete_password}" class="password-valid" enctype="multipart/form-data" method="post">
				<div class="py-5">
				    <label for="deletepassword" class="form-label" th:text="${member.memberId} + '님 계정을 삭제하시려면 계정 비밀번호를 입력해주세요'"></label>
					<div th:if="${error}" class="text-danger" th:text="${error}"></div>
				    <input type="password" class="form-control" id="deletepassword" name="deletepassword">
					<button type="submit" class="btn btn-success mt-3">삭제</button>
				  </div>
			</form>
		</div>
	</div>
</div>
	
</div>
</html>