<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container">
	<link rel="stylesheet" href="/css/member.css" />
<div class="enter-password d-flex justify-content-center align-items-center">
	<div class="row">
		<div class="col rounded formStyle">
			<form th:action="@{/member/enter_password}" class="password-valid" enctype="multipart/form-data" method="post">
				<div class="py-5">
				    <label for="enterpassword" class="form-label" th:text="'회원정보 수정을 위해 ' + ${member.memberId} + '님의 비밀번호를 입력해주세요'"></label>
					<div th:if="${error}" class="text-danger" th:text="${error}"></div>
				    <input type="password" class="form-control" id="enterpassword" name="enterpassword">
					<button type="submit" class="btn hm-btn-green mt-3">입력</button>
				  </div>
			</form>
		</div>
	</div>
</div>
	
</div>
</html>