<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container">
	<link rel="stylesheet" href="/css/member.css" />
	<section class="position-relative h-100">
		<div class="row py-5 justify-content-center">
			<div class="col-xl-5 col-lg-6 col-xs-12 py-5 border rounded formStyle">
				<h1 class="text-center mb-3">WellIt 회원가입</h1>
				<div th:if="${errorMessage}" class="alert alert-danger">
					<p th:text="${errorMessage}"></p>
				</div>
				<form th:action="@{/member/kakao_signup}" method="post" enctype="multipart/form-data"
					th:object="${member}" id="kakaoForm">
					<div class="row justify-content-center">
						<div class="col-3">
							<img th:src="@{${member.imageFile}}" alt="프로필 이미지" class="rounded-circle mx-auto"
								width="200px" height="200px">
						</div>
						<h1 th:text="${member.memberAlias}" class="text-center"></h1>
						<input type="hidden" name="memberId" th:value="${member.memberId}" th:field="*{memberId}">
					</div>
					<div class="container">
						<!-- 이름 -->
						<div class="row mt-3 justify-content-start">
							<label for="member_name" class="form-label">이름</label>
							<div class="col-5">
								<input type="text" id="memberName" class="form-control" th:field="*{memberName}"
									placeholder="숫자,특수문자 입력 불가">
							</div>
						</div>
						<!-- 닉네임 -->
						<div class="row mt-3 justify-content-start">
							<label for="member_alias" class="form-label">닉네임</label>
							<div class="col-5">
								<input type="text" id="memberAlias" class="form-control" th:field="*{memberAlias}"
									name="memberAlias" th:value="${member.getMemberAlias}">
							</div>
						</div>
						<!-- 전화번호 -->
						<div class="row mt-3 justify-content-start">
							<label for="memberPhone" class="form-label">전화번호</label>
							<div class="col-8">
								<input type="text" class="form-control" id="memberPhone" placeholder="-제외하고 입력"
									name="memberPhone" th:field="*{memberPhone}">
							</div>
						</div>
						<!-- 주소 -->
						<div class="row justify-content-start mt-3">
							<label for="address" class="form-label">주소</label>
							<div class="col-sm-4">
								<input type="text" id="sample4_postcode" class="form-control" placeholder="우편번호"
									th:field="*{zipcode}">
							</div>
							<div class="col-sm-3">
								<input type="button" onclick="sample4_execDaumPostcode()" class="btn btn-secondary"
									value="우편번호 찾기"><br>
							</div>
							<div class="col-12 mt-1">
								<input type="text" id="sample4_roadAddress" class="form-control" placeholder="도로명주소"
									th:field="*{roadAddress}">
								<input type="hidden" id="sample4_jibunAddress" class="form-control" placeholder="지번주소">
							</div>
							<div class="col-12 mt-1">
								<input type="text" id="sample4_detailAddress" class="form-control" placeholder="상세주소"
									th:field="*{addressDetail}">
								<input type="hidden" id="sample4_extraAddress" class="form-control" placeholder="참고항목">
							</div>
							<input type="hidden" id="fullAddress" name="fullAddress" th:field="*{memberAddress}">
							<span id="guide" style="color:#999;display:none" hidden></span>
						</div>
						<!-- 생일 -->
						<div class="row mt-3">
							<label for="birth" class="form-label">생년월일(선택)</label>
							<div class="col-4">
								<select class="form-select" aria-label="Default select example" id="birth-year"
									th:field="*{birth_year}">
									<option value="" selected>년</option>
								</select>
							</div>
							<div class="col-4">
								<select class="form-select" aria-label="Default select example" id="birth-month"
									th:field="*{birth_month}">
									<option value="" selected>월</option>
								</select>
							</div>
							<div class="col-4">
								<select class="form-select" aria-label="Default select example" id="birth-day"
									th:field="*{birth_day}">
									<option value="" selected>일</option>
								</select>
							</div>
							<input type="hidden" id="memberBirth" name="memberBirth" th:field="*{memberBirth}">
						</div>
						<!-- 성별 -->
						<div class="row mt-3">
							<label for="gender" class="form-label">성별(선택)</label>
							<div class="col">
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" value="남" id="male"
										th:field="*{memberGender}">
									<label class="form-check-label" for="male">
										남성
									</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" value="여" id="female"
										th:field="*{memberGender}">
									<label class="form-check-label" for="female">
										여성
									</label>
								</div>
							</div>
						</div>
						<!-- 비건 종류 -->
						<div class="row mt-3 justify-content-start">
							<label for="member_veganType" class="form-label">비건 종류(선택)</label>
							<div class="col-6">
								<select class="form-select" aria-label="Default select example" id="member_veganType"
									th:field="*{memberVeganType}">
									<option value="" selected>비건 종류</option>
									<option value="비건">비건</option>
									<option value="프루테리언">프루테리언</option>
									<option value="락토 베지테리언">락토 베지테리언</option>
									<option value="오보 베지테리언">오보 베지테리언</option>
									<option value="락토오보 베지테리언">락토오보 베지테리언</option>
									<option value="페스코 베지테리언">페스코 베지테리언</option>
									<option value="폴로 베지테리언">폴로 베지테리언</option>
									<option value="플렉시테리언">플렉시테리언</option>
								</select>
							</div>
						</div>

					</div>
					<!-- 제출 버튼 -->
					<div class="row mt-5">
						<button type="submit" class="btn greenBtn">회원가입</button>
					</div>
				</form>
			</div>
		</div>
	</section>
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<script>
		//'출생 연도' 셀렉트 박스 option 목록 동적 생성
		const birthYearEl = document.querySelector('#birth-year')
		// option 목록 생성 여부 확인
		isYearOptionExisted = false;
		birthYearEl.addEventListener('focus', function () {
			// year 목록 생성되지 않았을 때 (최초 클릭 시)
			if (!isYearOptionExisted) {
				isYearOptionExisted = true
				for (var i = 1940; i <= 2024; i++) {
					// option element 생성
					const YearOption = document.createElement('option')
					YearOption.setAttribute('value', i)
					YearOption.innerText = i
					// birthYearEl의 자식 요소로 추가
					this.appendChild(YearOption);
				}
			}
		});
		// Month
		const birthMonthEl = document.querySelector('#birth-month')
		// option 목록 생성 여부 확인
		isMonthOptionExisted = false;
		birthMonthEl.addEventListener('focus', function () {
			// year 목록 생성되지 않았을 때 (최초 클릭 시)
			if (!isMonthOptionExisted) {
				isMonthOptionExisted = true
				for (var i = 1; i <= 12; i++) {
					// option element 생성
					const MonthOption = document.createElement('option')
					if (i < 10) {
						MonthOption.setAttribute('value', "0" + i)
						MonthOption.innerText = "0" + i
					} else {
						MonthOption.setAttribute('value', i)
						MonthOption.innerText = i
					}
					// birthYearEl의 자식 요소로 추가
					this.appendChild(MonthOption);
				}
			}
		});
		//Day도 동일한 방식으로 구현
		const birthDayEl = document.querySelector('#birth-day')
		// option 목록 생성 여부 확인
		isDayOptionExisted = false;
		birthDayEl.addEventListener('focus', function () {
			// year 목록 생성되지 않았을 때 (최초 클릭 시)
			if (!isDayOptionExisted) {
				isDayOptionExisted = true
				for (var i = 1; i <= 31; i++) {
					// option element 생성
					const DayOption = document.createElement('option')

					if (i < 10) {
						DayOption.setAttribute('value', "0" + i)
						DayOption.innerText = "0" + i
					} else {
						DayOption.setAttribute('value', i)
						DayOption.innerText = i
					}
					// birthYearEl의 자식 요소로 추가
					this.appendChild(DayOption);
				}
			}
		});

		function sample4_execDaumPostcode() {
			new daum.Postcode({
				oncomplete: function (data) {
					// 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

					// 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
					// 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
					var roadAddr = data.roadAddress; // 도로명 주소 변수
					var extraRoadAddr = ''; // 참고 항목 변수

					// 법정동명이 있을 경우 추가한다. (법정리는 제외)
					// 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
					if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
						extraRoadAddr += data.bname;
					}
					// 건물명이 있고, 공동주택일 경우 추가한다.
					if (data.buildingName !== '' && data.apartment === 'Y') {
						extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
					}
					// 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
					if (extraRoadAddr !== '') {
						extraRoadAddr = ' (' + extraRoadAddr + ')';
					}

					// 우편번호와 주소 정보를 해당 필드에 넣는다.
					document.getElementById('sample4_postcode').value = data.zonecode;
					document.getElementById("sample4_roadAddress").value = roadAddr;
					document.getElementById("sample4_jibunAddress").value = data.jibunAddress;

					// 참고항목 문자열이 있을 경우 해당 필드에 넣는다.
					if (roadAddr !== '') {
						document.getElementById("sample4_extraAddress").value = extraRoadAddr;
					} else {
						document.getElementById("sample4_extraAddress").value = '';
					}

					var guideTextBox = document.getElementById("guide");
					// 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.
					if (data.autoRoadAddress) {
						var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
						guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';
						guideTextBox.style.display = 'block';

					} else if (data.autoJibunAddress) {
						var expJibunAddr = data.autoJibunAddress;
						guideTextBox.innerHTML = '(예상 지번 주소 : ' + expJibunAddr + ')';
						guideTextBox.style.display = 'block';
					} else {
						guideTextBox.innerHTML = '';
						guideTextBox.style.display = 'none';
					}
				}
			}).open();
		}

		function sample4_execDaumPostcode() {
			new daum.Postcode({
				oncomplete: function (data) {
					document.getElementById('sample4_postcode').value = data.zonecode;
					document.getElementById('sample4_roadAddress').value = data.roadAddress;
					document.getElementById('sample4_jibunAddress').value = data.jibunAddress;
				}
			}).open();
		}

		document.getElementById('kakaoForm').addEventListener('submit', function (event) {
			const roadAddress = document.getElementById('sample4_roadAddress').value;
			const detailAddress = document.getElementById('sample4_detailAddress').value;
			const fullAddress = `${roadAddress} ${detailAddress}`;

			document.getElementById('fullAddress').value = fullAddress;
		});

		// 연, 월, 일 select 요소 가져오기
		const yearElement = document.getElementById('birth-year');
		const monthElement = document.getElementById('birth-month');
		const dayElement = document.getElementById('birth-day');
		const hiddenInputElement = document.getElementById('memberBirth');

		// 생년월일 값이 변경될 때마다 hidden input에 값 설정
		function updateBirthDate() {
			const year = yearElement.value;
			const month = monthElement.value;
			const day = dayElement.value;

			if (year && month && day) {
				hiddenInputElement.value = `${year}-${month}-${day}`;
			} else {
				hiddenInputElement.value = '';
			}
		}

		// 이벤트 리스너 추가
		yearElement.addEventListener('change', updateBirthDate);
		monthElement.addEventListener('change', updateBirthDate);
		dayElement.addEventListener('change', updateBirthDate);

		document.getElementById('kakaoForm').addEventListener('submit', function (event) {
			event.preventDefault(); // 기본 폼 제출 동작 방지
			let isValid = true; // 유효성 검사가 통과했는지 여부를 확인하는 변수

			// 이름 유효성 검사
			const nameInput = document.getElementById('memberName');
			const memberName = document.getElementById('memberName').value;
			if (!memberName) {
				alert("이름을 입력해주세요.");
				nameInput.focus();
				isValid = false;
			}
			if (memberName.length > 10) {
				alert("이름은 최대 10자 이내여야 합니다.");
				nameInput.focus();
				isValid = false;
			}
			if (!/^[a-zA-Z가-힣]*$/.test(memberName)) {
				alert("이름은 특수기호 없이 입력해주세요.");
				nameInput.focus();
				isValid = false;
			}

			// 주소 유효성 검사
			const addressInput = document.getElementById('sample4_postcode');
			const postAddress = document.getElementById('sample4_postcode').value;
			const roadAddress = document.getElementById('sample4_roadAddress').value;
			const detailAddress = document.getElementById('sample4_detailAddress').value;
			if (!roadAddress || !detailAddress || !postAddress) {
				alert("주소를 입력해주세요.");
				addressInput.focus();
				isValid = false;
			}

			// 유효성 검사에 통과한 경우 폼 제출
			if (isValid) {
				this.submit(); // 폼 제출
			}
		});
	</script>
</div>

</html>