<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container">
	<link rel="stylesheet" href="/css/member.css" />
	<section class="d-flex justify-content-center align-items-center py-5">
		<div class="container py-5 align-middle">
			<div th:if="${loginMessage}" class="alert">
				<p th:text="${loginMessage}"></p>
			</div>
			<div class="row py-5 justify-content-center">
				<div class="col-md-6 col-xs-8 py-5 border rounded formStyle">
					<h1 class="text-center mb-3">WellIt</h1>
					<form th:action="@{/member/login}" method="post">
						<div class="container">
							<div class="form-floating mb-3">
								<input type="text" class="form-control" id="memberId" name="username">
								<label for="memberId">아이디</label>
							</div>
							<div class="form-floating">
								<input type="password" class="form-control" id="memberPassword" name="password">
								<label for="memberPassword">비밀번호</label>
								<div class="eye-icon">
									<div class="d-flex h-100 justify-content-end align-items-center">
										<span class="material-symbols-outlined eye">
											visibility_off
										</span>
									</div>
								</div>
							</div>
							<div class="form-group form-check mt-2">
								<input type="checkbox" class="form-check-input" id="exampleCheck1"
									onchange="checkSave()">
								<label class="form-check-label" for="exampleCheck1">아이디 저장</label>
							</div>
							<div class="row mt-3">
								<button type="submit" class="btn btn-block greenBtn">로그인</button>
							</div>
							<div class="row mt-3">
								<div class="col-6 d-flex justify-content-start">
									<a th:href="@{/member/register}">회원가입</a>
								</div>
								<div class="col-6 d-flex justify-content-around">
									<a th:href="@{/member/findMemberId}">아이디 찾기</a>
									<a th:href="@{/member/findPassword}">비밀번호 찾기</a>
								</div>
							</div>
							<div class="row mt-3">
								<div class="d-grid gap-2 col-8 mx-auto">
								  <button class="btn btn-warning" type="button">카카오로 시작</button>
								  <button class="btn btn-success" type="button">네이버로 로그인</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	<script>
		function checkSave() {
		    const checkbox = document.getElementById("exampleCheck1");
		    if (checkbox.checked) {
		        if (!confirm("아이디를 저장하시겠습니까?")) {
		            checkbox.checked = false;
		        } else {
		            // username 로컬 스토리지에 저장
		            const username = document.getElementById("memberId").value;
		            localStorage.setItem("savedUsername", username);
		        }
		    } else {
		        //저장된 username 로컬 스토리지에서 제거
		        localStorage.removeItem("savedUsername");
		    }
		}

		document.addEventListener("DOMContentLoaded", function () {
			const eyeIcon = document.querySelector('.eye');
			const passwordInput = document.getElementById('memberPassword');

			eyeIcon.addEventListener('click', function () {
				const inputType = passwordInput.getAttribute('type');

				if (inputType === 'password') {
					passwordInput.setAttribute('type', 'text');
					eyeIcon.textContent = 'visibility';
				} else {
					passwordInput.setAttribute('type', 'password');
					eyeIcon.textContent = 'visibility_off';
				}
			});
		});
		document.addEventListener("DOMContentLoaded", function() {
		    const savedUsername = localStorage.getItem("savedUsername");
		    if (savedUsername) {
		        document.getElementById("memberId").value = savedUsername;
		        document.getElementById("exampleCheck1").checked = true;
		    }
		});
	</script>
</div>
</html>