<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container">
	<link rel="stylesheet" href="/css/member.css" />
	<section class="d-flex justify-content-center align-items-center py-5">
		<div class="container py-5 align-middle">

			<div th:if="${loginMessage}" th:text="${loginMessage}" id="loginMessage" style="display:none;">
			</div>
			<div th:if="${updateMessage}" th:text="${updateMessage}" id="updateMessage" style="display:none;">
			</div>
			<div th:if="${errorMessage}" th:text="${errorMessage}" id="errorMessage" style="display:none;">
			</div>
			<div th:if="${message}" class="alert alert-info" th:text="${message}"></div>
			<div class="row py-5 justify-content-center">
				<div class="col-md-6 col-xs-8 py-5 border rounded formStyle">
					<h1 class="text-center mb-3">WellIt</h1>
					<form th:action="@{/member/login}" method="post">
						<div class="container">
							<div class="form-floating mb-3">
								<input type="text" class="form-control" id="memberId" name="username">
								<label for="memberId">아이디</label>
								<div id="memberIdError" class="text-danger"></div>
							</div>
							<div class="form-floating">
								<input type="password" class="form-control" id="memberPassword" name="password">
								<label for="memberPassword">비밀번호</label>
								<div class="eye-icon">
									<div class="d-flex h-100 justify-content-end align-items-center">
										<span class="material-symbols-outlined eye">
											visibility_off
										</span>
									</div>
								</div>
								<div id="passwordError" class="text-danger"></div>
							</div>
							<div class="form-group form-check mt-2">
								<input type="checkbox" class="form-check-input" id="exampleCheck1"
									onchange="checkSave()">
								<label class="form-check-label" for="exampleCheck1">아이디 저장</label>
							</div>
							<div class="row mt-3">
								<button type="submit" class="btn btn-block hm-btn-green"
									onclick="return validateForm()">로그인</button>
							</div>
							<div class="row mt-3">
								<div class="col-6 d-flex justify-content-start">
									<a th:href="@{/member/register}">회원가입</a>
								</div>
								<div class="col-6 d-flex justify-content-around">
									<a th:href="@{/member/findMemberId}">아이디 찾기</a>
									<a th:href="@{/member/findPassword}">비밀번호 찾기</a>
								</div>
							</div>
							<div class="row mt-3">
								<div class="d-grid gap-2 col-8 mx-auto justify-content-center">
									<a
										href="https://kauth.kakao.com/oauth/authorize?&client_id=1edf78aa7a0cc88fd28e4ffbc306e0b1&redirect_uri=http://localhost:8080/callback&response_type=code">
										<img src="/imgs/member/kakao_login_medium_wide.png">
									</a>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	<script>

		var errorElement = document.getElementById("errorMessage");
		// div의 텍스트 내용이 비어 있지 않으면 alert 창을 띄웁니다.
		if (errorElement && errorElement.innerText.trim() !== "") {
			alert(errorElement.innerText);
		}

		function validateForm() {
			var isValid = true;

			// 아이디 필드
			var username = document.getElementById("memberId").value;
			var usernameError = document.getElementById("memberIdError");
			var usernameInput = document.getElementById("memberId");

			if (username === "") {
				usernameError.textContent = "아이디를 입력해 주세요.";
				usernameInput.classList.add("error-border");
				isValid = false;
			} else {
				usernameError.textContent = "";
				usernameInput.classList.remove("error-border");
			}

			// 비밀번호 필드
			var password = document.getElementById("memberPassword").value;
			var passwordError = document.getElementById("passwordError");
			var passwordInput = document.getElementById("memberPassword");

			if (password === "") {
				passwordError.textContent = "비밀번호를 입력해 주세요.";
				passwordInput.classList.add("error-border");
				isValid = false;
			} else {
				passwordError.textContent = "";
				passwordInput.classList.remove("error-border");
			}

			return isValid; // 입력이 모두 유효할 경우 폼 제출
		}

		document.getElementById("memberId").addEventListener("focus", function () {
			document.getElementById("memberIdError").textContent = "";
			this.classList.remove("error-border");
		});

		document.getElementById("memberPassword").addEventListener("focus", function () {
			document.getElementById("passwordError").textContent = "";
			this.classList.remove("error-border");
		});

		
			var messageElement = document.getElementById("loginMessage");
			// div의 텍스트 내용이 비어 있지 않으면 alert 창을 띄웁니다.
			if (messageElement && messageElement.innerText.trim() !== "") {
				alert(messageElement.innerText);
			}
			var updateElement = document.getElementById("updateMessage");
			// div의 텍스트 내용이 비어 있지 않으면 alert 창을 띄웁니다.
			if (updateElement && updateElement.innerText.trim() !== "") {
				alert(updateElement.innerText);
			}
		
		function checkSave() {
			const checkbox = document.getElementById("exampleCheck1");
			if (checkbox.checked) {
				if (!confirm("아이디를 저장하시겠습니까?")) {
					checkbox.checked = false;
				} else {
					// username 로컬 스토리지에 저장
					const username = document.getElementById("memberId").value;
					localStorage.setItem("savedUsername", username);
				}
			} else {
				//저장된 username 로컬 스토리지에서 제거
				localStorage.removeItem("savedUsername");
			}
		}

		document.addEventListener("DOMContentLoaded", function () {
			const eyeIcon = document.querySelector('.eye');
			const passwordInput = document.getElementById('memberPassword');

			eyeIcon.addEventListener('click', function () {
				const inputType = passwordInput.getAttribute('type');

				if (inputType === 'password') {
					passwordInput.setAttribute('type', 'text');
					eyeIcon.textContent = 'visibility';
				} else {
					passwordInput.setAttribute('type', 'password');
					eyeIcon.textContent = 'visibility_off';
				}
			});
		});
		document.addEventListener("DOMContentLoaded", function () {
			const savedUsername = localStorage.getItem("savedUsername");
			if (savedUsername) {
				document.getElementById("memberId").value = savedUsername;
				document.getElementById("exampleCheck1").checked = true;
			}
		});
	</script>
</div>

</html>