<html layout:decorate="~{member/mypage}">
<div layout:fragment="tabcontent">

	<div id="user-profile" class="container round bg-body fw-bold">
		<div class="row">
			<div class="col-2 mt-5">
				<div th:if="${member.ImageFile}">
					<img th:src="@{${member.ImageFile}}" alt="프로필 사진" class="img-thumbnail" />
				</div>
				<div th:unless="${member.ImageFile}">
					<img src="/imgs/member/default-profile.png" alt="기본 프로필 사진" class="img-thumbnail" />

				</div>
			</div>
			<div class="col-10 mt-5">
				<div class="row align-middle">
					<div th:if="${member.memberType != 'KAKAO'}" class="col">
						<p>사용자 이름 : <span th:text="${member.memberName}"></span></p>
						<p>닉네임 : <span th:text="${member.memberAlias}"></span></p>
						<p>이메일 : <span th:text="${member.memberEmail}"></span></p>
						<p>회원가입 일시 : <span th:text="${formattedRegDate}"></span></p>
						<p>주소 : <span th:text="${member.roadAddress}"></span></p>
						<p>비건 종류 :
							<span th:if="${member.memberVeganType == null}">미정</span>
							<span th:unless="${member.memberVeganType == null}"
								th:text="${member.memberVeganType}"></span>
						</p>
					</div>
					<div th:if="${member.memberType == 'KAKAO'}" class="col">
						<p>사용자 이름 : <span th:text="${member.memberName}"></span></p>
						<p>닉네임 : <span th:text="${member.memberAlias}"></span></p>
						<p>회원가입 일시 : <span th:text="${formattedRegDate}"></span></p>
						<p>주소 : <span th:text="${member.roadAddress}"></span></p>
						<p>비건 종류 :
							<span th:if="${member.memberVeganType == null}">미정</span>
							<span th:unless="${member.memberVeganType == null}"
								th:text="${member.memberVeganType}"></span>
						</p>
					</div>
				</div>
				<div class="row mb-3 float-end">
					<div class="col">
						<a th:if="${member.memberType == 'KAKAO'}" th:href="@{/member/update_kakao}"
							class="btn mpBtn">회원정보 수정</a>
						<a th:if="${member.memberType != 'KAKAO'}" th:href="@{/member/enter_password}"
							class="btn mpBtn">회원정보 수정</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

</html>