<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container">
	<link rel="stylesheet" href="/css/member.css" />
	<section id="resetPassword">
		<div class="row">
			<div class="col-6">
				<h1>비밀번호 재설정</h1>
				<div class="col">
					<form th:action="@{/member/reset_password}" method="post" id="resetPasswordForm">
						<input type="hidden" name="token" th:value="${token}">
						<label for="newPassword" class="form-label">비밀번호</label>
						<input type="password" id="newPassword" name="newPassword" class="form-control"
							placeholder="새 비밀번호" required>
						<label for="newPassword2" class="form-label">비밀번호 확인</label>
						<input type="password" id="newPassword2" name="newPassword2" class="form-control"
							placeholder="비밀번호 확인" required>
						<button type="submit" class="btn btn-secondary">비밀번호 수정</button>
					</form>
				</div>
			</div>

		</div>
	</section>
	<script>
	        document.getElementById('resetPasswordForm').addEventListener('submit', function(event) {
	            event.preventDefault(); // 폼 제출을 막음

	            const formData = new FormData(this);
	            fetch('/member/reset_password', {
	                method: 'POST',
	                body: new URLSearchParams(formData)
	            })
	            .then(response => response.text())
	            .then(data => {
	                alert(data);
	                if (data.includes('비밀번호가 성공적으로 변경되었습니다.')) {
	                    window.location.href = '/';
	                }
	            })
	            .catch(error => {
	                alert('Error occurred: ' + error.message);
	                console.error('Error:', error);
	            });
	        });
	    </script>
</div>

</html>