<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container">

	<head>
		<title>
			회원 수정
		</title>
	</head>


	<link rel="stylesheet" href="/css/member.css" />

	<!-- 회원수정 시작 -->
	<section class="position-relative h-100">
		<div class="row py-5 justify-content-center">
			<div class="col-xl-5 col-lg-6 col-xs-12 py-5 border rounded formStyle">
				<h1 class="text-center mb-3">회원정보 수정</h1>
				<div th:if="${errorMessage}" th:text="${errorMessage}" id="errorMessage" style="display:none;">
				</div>
				<form th:action="@{/member/update_kakao}" th:object="${member}" method="post" id="memberForm"
					enctype="multipart/form-data">

					<div class="container">
						<!-- 아이디 -->
						<div class="row justify-content-center">
							<div class="col-5">
								<img th:src="@{${member.imageFile}}" alt="프로필 이미지" class="rounded-circle mx-auto"
									width="200px" height="200px">
							</div>
							<h1 th:text="${member.memberAlias}" class="text-center"></h1>
							<input type="hidden" name="memberId" th:value="${member.memberId}" th:field="*{memberId}">
						</div>
						<!-- 이름 -->
						<div class="row mt-3 justify-content-start">
							<label for="name" class="form-label">이름</label>
							<div class="col-6">
								<input type="text" id="memberName" class="form-control" name="name"
									th:value="${member.getMemberName}" th:field="*{memberName}"
									placeholder="숫자 / 특수문자 불가, 최대 10자">
							</div>
						</div>
						<div class="row mt-3 justify-content-start">
							<label for="member_alias" class="form-label">닉네임</label>
							<div class="col-6">
								<input type="text" id="memberAlias" class="form-control" th:field="*{memberAlias}"
									name="memberAlias" th:value="${member.getMemberAlias}" placeholder="최대 10자">
							</div>
						</div>
						<!-- 이메일 -->
						<div class="row mt-3 justify-content-start">
							<label for="member_email" class="form-label">이메일</label>
							<div class="col-9">
								<input type="email" id="memberEmail" class="form-control"
									th:value="${member.getMemberEmail}" th:field="*{memberEmail}">
							</div>
							<div class="col-3">
								<button type="button" class="btn btn-secondary" onclick="checkEmail()">이메일 인증</button>
							</div>
						</div>
						<div class="row mt-3 justify-content-start">
							<div class="col-7">
								<input type="text" id="verificationCode" class="form-control"
									placeholder="이메일로 받은 인증번호">
							</div>
							<div class="col-4">
								<button type="button" class="btn btn-secondary" onclick="verifyCode()">인증번호 확인</button>
							</div>
						</div>
						<!-- 전화번호 -->
						<div class="row mt-3 justify-content-start">
							<label for="phone" class="form-label">전화번호</label>
							<div class="col-8">
								<input type="text" class="form-control" id="memberPhone" placeholder="-제외하고 입력"
									name="phone" th:value="${member.getMemberPhone}" th:field="*{memberPhone}">
							</div>
						</div>
						<!-- 주소 -->
						<div class="row justify-content-start mt-3">
							<label for="address" class="form-label">주소</label>
							<div class="col-sm-4">
								<input type="text" id="sample4_postcode" class="form-control" placeholder="우편번호"
									th:field="*{zipcode}" th:value="${getZipcode}">
							</div>
							<div class="col-sm-3">
								<input type="button" onclick="sample4_execDaumPostcode()" class="btn btn-secondary"
									value="우편번호 찾기"><br>
							</div>
							<div class="col-12 mt-1">
								<input type="text" id="sample4_roadAddress" class="form-control" placeholder="도로명주소"
									th:field="*{roadAddress}" th:value="${getRoadAddress}">
								<input type="hidden" id="sample4_jibunAddress" class="form-control" placeholder="지번주소">
							</div>
							<div class="col-12 mt-1">
								<input type="text" id="sample4_detailAddress" class="form-control" placeholder="상세주소"
									th:field="*{addressDetail}" th:value="${member.getAddressDetail}">
								<input type="hidden" id="sample4_extraAddress" class="form-control" placeholder="참고항목">
							</div>
							<input type="hidden" id="fullAddress" name="fullAddress" th:field="*{memberAddress}">
							<span id="guide" style="color:#999;display:none" hidden></span>
						</div>
						<!-- 생일 -->
						<div class="row mt-3">
							<label for="birth" class="form-label">생년월일(선택)</label>

							<!-- 년도 선택 -->
							<div class="col-4">
								<select class="form-select" aria-label="Default select example" id="birth_year"
									name="birth_year" th:field="*{birth_year}">
									<option th:if="${member.birth_year != null}" th:value="${member.birth_year}"
										th:text="${member.birth_year}" selected></option>
									<option th:if="${member.birth_year == null}" value="" selected>년</option>
									<!-- Add actual year options here -->
								</select>
							</div>

							<!-- 월 선택 -->
							<div class="col-4">
								<select class="form-select" aria-label="Default select example" id="birth_month"
									name="birth_month" th:field="*{birth_month}">
									<option th:if="${member.birth_month != null}" th:value="${member.birth_month}"
										th:text="${member.birth_month}" selected></option>
									<option th:if="${member.birth_month == null}" value="" selected>월</option>
									<!-- Add actual month options here -->
								</select>
							</div>

							<!-- 일 선택 -->
							<div class="col-4">
								<select class="form-select" aria-label="Default select example" id="birth_day"
									name="birth_day" th:field="*{birth_day}">
									<option th:if="${member.birth_day != null}" th:value="${member.birth_day}"
										th:text="${member.birth_day}" selected></option>
									<option th:if="${member.birth_day == null}" value="" selected>일</option>
									<!-- Add actual day options here -->
								</select>
							</div>

							<!-- Hidden field to store full date -->
							<input type="hidden" id="memberBirth" name="memberBirth" th:field="*{memberBirth}">
						</div>
						<!-- 성별 -->
						<div class="row mt-3">
							<label for="gender" class="form-label">성별(선택)</label>
							<div class="col">
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" id="male" name="gender" value="남"
										th:field="*{memberGender}" th:checked="${member.getMemberGender == '남'}">
									<label class="form-check-label" for="male">남성</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" id="female" name="gender" value="여"
										th:field="*{memberGender}" th:checked="${member.getMemberGender == '여'}">
									<label class="form-check-label" for="female">여성</label>
								</div>
							</div>
						</div>
						<!-- 비건 종류 -->
						<div class="row mt-3 justify-content-start">
							<label for="member_veganType" class="form-label">비건 종류(선택)</label>
							<div class="col-6">
								<select class="form-select" aria-label="Default select example" id="member_veganType"
									th:field="*{memberVeganType}">
									<option value="" selected>비건 종류</option>
									<option value="비건">비건</option>
									<option value="프루테리언">프루테리언</option>
									<option value="락토 베지테리언">락토 베지테리언</option>
									<option value="오보 베지테리언">오보 베지테리언</option>
									<option value="락토오보 베지테리언">락토오보 베지테리언</option>
									<option value="페스코 베지테리언">페스코 베지테리언</option>
									<option value="폴로 베지테리언">폴로 베지테리언</option>
									<option value="플렉시테리언">플렉시테리언</option>
								</select>
								</select>
							</div>
						</div>
						<!-- 이미지 -->
						<div class="row mt-3">
							<label for="image" class="form-label">프로필 이미지</label>
							<div class="col">
								<div class="input-group">
									<input type="file" class="form-control" id="imageFile" name="imageFile">
									<label class="input-group-text" for="imageFile">업로드</label>
								</div>
							</div>
						</div>
					</div>
					<div class="row mt-5">
						<button type="submit" class="btn btn-block hm-btn-green">수정</button>
						<button type="button" class="btn btn-block btn-danger my-2"
							onclick="deleteMember()">회원탈퇴</button>
					</div>
				</form>
			</div>
		</div>
	</section>
	<!-- 회원수정 끝 -->
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<script>
		//'출생 연도' 셀렉트 박스 option 목록 동적 생성
		const birthYearEl = document.querySelector('#birth_year')
		// option 목록 생성 여부 확인
		isYearOptionExisted = false;

		birthYearEl.addEventListener('focus', function () {
			// year 목록 생성되지 않았을 때 (최초 클릭 시)
			if (!isYearOptionExisted) {
				isYearOptionExisted = true
				for (var i = 1940; i <= 2024; i++) {
					// option element 생성
					const YearOption = document.createElement('option')
					YearOption.setAttribute('value', i)
					YearOption.innerText = i + "년"
					// birthYearEl의 자식 요소로 추가
					this.appendChild(YearOption);
				}
			}
		});
		// Month
		const birthMonthEl = document.querySelector('#birth_month')
		// option 목록 생성 여부 확인
		isMonthOptionExisted = false;
		birthMonthEl.addEventListener('focus', function () {
			// year 목록 생성되지 않았을 때 (최초 클릭 시)
			if (!isMonthOptionExisted) {
				isMonthOptionExisted = true
				for (var i = 1; i <= 12; i++) {
					// option element 생성
					const MonthOption = document.createElement('option')
					if (i < 10) {
						MonthOption.setAttribute('value', "0" + i)
						MonthOption.innerText = "0" + i
					} else {
						MonthOption.setAttribute('value', i)
						MonthOption.innerText = i
					}
					// birthYearEl의 자식 요소로 추가
					this.appendChild(MonthOption);
				}
			}
		});
		//Day도 동일한 방식으로 구현
		const birthDayEl = document.querySelector('#birth_day')
		// option 목록 생성 여부 확인
		isDayOptionExisted = false;
		birthDayEl.addEventListener('focus', function () {
			// year 목록 생성되지 않았을 때 (최초 클릭 시)
			if (!isDayOptionExisted) {
				isDayOptionExisted = true
				for (var i = 1; i <= 31; i++) {
					// option element 생성
					const DayOption = document.createElement('option')

					if (i < 10) {
						DayOption.setAttribute('value', "0" + i)
						DayOption.innerText = "0" + i
					} else {
						DayOption.setAttribute('value', i)
						DayOption.innerText = i
					}
					// birthYearEl의 자식 요소로 추가
					this.appendChild(DayOption);
				}
			}
		});

		function sample4_execDaumPostcode() {
			new daum.Postcode({
				oncomplete: function (data) {
					// 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

					// 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
					// 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
					var roadAddr = data.roadAddress; // 도로명 주소 변수
					var extraRoadAddr = ''; // 참고 항목 변수

					// 법정동명이 있을 경우 추가한다. (법정리는 제외)
					// 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
					if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
						extraRoadAddr += data.bname;
					}
					// 건물명이 있고, 공동주택일 경우 추가한다.
					if (data.buildingName !== '' && data.apartment === 'Y') {
						extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
					}
					// 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
					if (extraRoadAddr !== '') {
						extraRoadAddr = ' (' + extraRoadAddr + ')';
					}

					// 우편번호와 주소 정보를 해당 필드에 넣는다.
					document.getElementById('sample4_postcode').value = data.zonecode;
					document.getElementById("sample4_roadAddress").value = roadAddr;
					document.getElementById("sample4_jibunAddress").value = data.jibunAddress;

					// 참고항목 문자열이 있을 경우 해당 필드에 넣는다.
					if (roadAddr !== '') {
						document.getElementById("sample4_extraAddress").value = extraRoadAddr;
					} else {
						document.getElementById("sample4_extraAddress").value = '';
					}

					var guideTextBox = document.getElementById("guide");
					// 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.
					if (data.autoRoadAddress) {
						var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
						guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';
						guideTextBox.style.display = 'block';

					} else if (data.autoJibunAddress) {
						var expJibunAddr = data.autoJibunAddress;
						guideTextBox.innerHTML = '(예상 지번 주소 : ' + expJibunAddr + ')';
						guideTextBox.style.display = 'block';
					} else {
						guideTextBox.innerHTML = '';
						guideTextBox.style.display = 'none';
					}
				}
			}).open();
		}

		function sample4_execDaumPostcode() {
			new daum.Postcode({
				oncomplete: function (data) {
					document.getElementById('sample4_postcode').value = data.zonecode;
					document.getElementById('sample4_roadAddress').value = data.roadAddress;
					document.getElementById('sample4_jibunAddress').value = data.jibunAddress;
				}
			}).open();
		}

		document.getElementById('memberForm').addEventListener('submit', function (event) {
			const roadAddress = document.getElementById('sample4_roadAddress').value;
			const detailAddress = document.getElementById('sample4_detailAddress').value;
			const fullAddress = `${roadAddress} ${detailAddress}`;

			document.getElementById('fullAddress').value = fullAddress;
		});

		// 연, 월, 일 select 요소 가져오기
		const yearElement = document.getElementById('birth_year');
		const monthElement = document.getElementById('birth_month');
		const dayElement = document.getElementById('birth_day');
		const hiddenInputElement = document.getElementById('memberBirth');

		// 생년월일 값이 변경될 때마다 hidden input에 값 설정
		function updateBirthDate() {
			const year = yearElement.value;
			const month = monthElement.value;
			const day = dayElement.value;

			if (year && month && day) {
				hiddenInputElement.value = `${year}-${month}-${day}`;
			} else {
				hiddenInputElement.value = '';
			}
		}

		// 이벤트 리스너 추가
		yearElement.addEventListener('change', updateBirthDate);
		monthElement.addEventListener('change', updateBirthDate);
		dayElement.addEventListener('change', updateBirthDate);
		document.getElementById('memberForm').addEventListener('submit', function (event) {
			event.preventDefault(); // 기본 폼 제출 동작 방지
			let isValid = true; // 유효성 검사가 통과했는지 여부를 확인하는 변수

			// 아이디 유효성 검사
			const idInput = document.getElementById('memberId');
			const memberId = idInput.value;

			// 이름 유효성 검사
			const nameInput = document.getElementById('memberName');
			const memberName = nameInput.value;

			// 닉네임 유효성 검사
			const aliasInput = document.getElementById('memberAlias');
			const memberAlias = aliasInput.value;

			// 이메일 유효성 검사
			const emailInput = document.getElementById("memberEmail");
			const memberEmail = document.getElementById('memberEmail').value;

			// 전화번호 유효성 검사
			const phoneInput = document.getElementById('memberPhone');
			const memberPhone = document.getElementById('memberPhone').value;

			// 주소 유효성 검사
			const addressInput = document.getElementById('sample4_postcode');
			const postAddress = addressInput.value;
			const roadAddress = document.getElementById('sample4_roadAddress').value;
			const detailAddress = document.getElementById('sample4_detailAddress').value;

			if (!memberId) {
				alert("아이디를 입력해주세요.")
				idInput.focus();
				isValid = false;
			}
			else if (memberId.length < 4 || memberId.length > 12) {
				alert("아이디는 4자에서 12자 이내여야 합니다.");
				idInput.focus();
				isValid = false;
			}
			else if (!/^[a-zA-Z0-9]*$/.test(memberId)) {
				alert("아이디는 영문과 숫자만 가능합니다.");
				idInput.focus();
				isValid = false;
			}


			else if (!memberName) {
				alert("이름을 입력해주세요.");
				nameInput.focus();
				isValid = false;
			}
			else if (memberName.length > 10) {
				alert("이름은 최대 10자 이내여야 합니다.");
				nameInput.focus();
				isValid = false;
			}
			else if (!/^[a-zA-Z가-힣]*$/.test(memberName)) {
				alert("이름은 특수기호 없이 입력해주세요.");
				nameInput.focus();
				isValid = false;
			}


			else if (!memberAlias) {
				alert("닉네임을 입력해주세요.");
				aliasInput.focus();
				isValid = false;
			}
			else if (memberAlias.length > 10) {
				alert("닉네임은 최대 10자 이내여야 합니다.");
				aliasInput.focus();
				isValid = false;
			}
			else if (!/^[a-zA-Z가-힣0-9]*$/.test(memberAlias)) {
				alert("닉네임은 특수기호 없이 입력해주세요.");
				aliasInput.focus();
				isValid = false;
			}

			else if (!memberEmail) {
				alert("이메일을 입력해주세요.");
				emailInput.focus();
				isValid = false;
			}
			else if (!/^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(memberEmail)) {
				alert("유효한 이메일 주소를 입력해주세요.");
				emailInput.focus();
				isValid = false;
			}


			else if (!memberPhone) {
				alert("전화번호를 입력해주세요.");
				phoneInput.focus();
				isValid = false;
			}
			else if (!/^[0-9]{10,11}$/.test(memberPhone) && memberPhone) {
				alert("유효한 전화번호를 입력해 주세요.");
				phoneInput.focus();
				isValid = false;
			}


			if (!roadAddress || !detailAddress || !postAddress) {
				alert("주소를 입력해주세요.");
				addressInput.focus();
				isValid = false;
			}

			// 유효성 검사에 통과한 경우 폼 제출
			if (isValid) {
				alert("회원 수정이 완료되었습니다. 다시 로그인해 주세요.")
				this.submit(); // 폼 제출
			}
		});

		function checkEmail() {
			const email = document.getElementById('memberEmail').value;

			if (!email) {
				alert("이메일을 입력해주세요.");
				return;
			}

			else if (!/^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/.test(memberEmail)) {
				alert("유효한 이메일 주소를 입력해주세요.");
				return;
			}

			fetch('/member/send-email', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/x-www-form-urlencoded'
				},
				body: new URLSearchParams({
					'email': email
				})
			})
				.then(response => response.text())
				.then(data => {
					alert(data);
				})
				.catch(error => {
					alert('Error occurred: ' + error.message);
					console.error('Error:', error);
				});
		}

		function verifyCode() {
			const code = document.getElementById('verificationCode').value;

			if (!code) {
				alert("인증 코드를 입력해주세요.");
				return;
			}

			fetch('/member/verify-code', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/x-www-form-urlencoded'
				},
				body: new URLSearchParams({
					'code': code
				})
			})
				.then(response => response.text())
				.then(data => {
					alert(data);
				})
				.catch(error => {
					alert('Error occurred: ' + error.message);
					console.error('Error:', error);
				});
		}

		function deleteMember() {
			if (confirm("정말로 회원탈퇴 하시겠습니까?")) {
				const form = document.createElement('form');
				form.method = 'POST';
				form.action = '/member/delete_kakao'; // POST 요청 보낼 경로

				document.body.appendChild(form);
				form.submit();
			}
		}

		var errorElement = document.getElementById("errorMessage");
		// div의 텍스트 내용이 비어 있지 않으면 alert 창을 띄웁니다.
		if (errorElement && errorElement.innerText.trim() !== "") {
			alert(errorElement.innerText);
		}
	</script>
</div>

</html>