<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container">
	<link rel="stylesheet" href="/css/map.css" />
	<style>
			.formStyle {
				background-color: #f2e8cf;
			}

			.greenBtn {
				background-color: #6A994E;
			}

			.greenBtn:hover {
				background-color: #A7C957;
			}
		</style>
	</head>
	<body>
		<!-- 회원가입 시작 -->
		<section class="position-relative h-100">
			<div class="row py-5 justify-content-center">
				<div class="col-xl-5 col-lg-6 col-xs-12 py-5 border rounded formStyle">
					<h1 class="text-center mb-3">회원정보 수정</h1>
					<form>
						<div class="container">
							<!-- 아이디 -->
							<div class="row justify-content-start">
								<label for="id" class="form-label">아이디</label>
								<div class="col-8">
									<input type="text" id="id" class="form-control" name="id" readonly>
								</div>
							</div>
							<!-- 비밀번호 -->
							<div class="row mt-3">
								<div class="col">
									<label for="password1" class="form-label">비밀번호</label>
									<input type="password" id="password1" name="password1" class="form-control"
										placeholder="비밀번호 규칙">
								</div>
							</div>
							<div class="row mt-3">
								<div class="col">
									<label for="password1" class="form-label">비밀번호 확인</label>
									<input type="password" id="password2" class="form-control" name="password2">
								</div>
							</div>
							<!-- 이름 -->
							<div class="row mt-3 justify-content-start">
								<label for="name" class="form-label">이름</label>
								<div class="col-5">	
									<input type="text" id="name" class="form-control" name="name">
								</div>
							</div>
							<!-- 이메일 -->
							<div class="row mt-3 justify-content-start">
								<label for="email1" class="form-label">이메일</label>
								<div class="col-6">
									<input type="email" id="email1" class="form-control" placeholder="선택 입력" name="email1">
								</div>
								<div class="col-4">
									<select class="form-select form-select mb-3" aria-label=".form-select-lg example">
										<option selected>이메일</option>
										<option value="1">naver.com</option>
										<option value="2">gmail.com</option>
										<option value="3">daum.net</option>
									</select>
								</div>
							</div>
							<!-- 주소 -->
							<div class="row justify-content-start">
								<label for="address" class="form-label">주소</label>
								<div class="col-sm-4">
									<input type="text" class="form-control" placeholder="우편번호" aria-label="zipcode" id="zipcode" name="zipcode">
								</div>
								<div class="col-sm-3">
									<input type="button" value="우편번호 찾기" class="btn btn-secondary"/>
								</div>
								<div class="col-12 mt-1">
									<input type="text" class="form-control" placeholder="주소" aria-label="address"/ id="address" name="address">
								</div>
								<div class="col-12 mt-1">
									<input type="text" class="form-control" placeholder="상세주소" aria-label="addressDetail" id="addressDetail" name="addressDetail">
								</div>
							</div>
							<!-- 생일 -->
							<div class="row mt-3">
								<label for="birth" class="form-label">생년월일</label>
								<div class="col-4">
									<select class="form-select" aria-label="Default select example" id="birth-year" name="birth-year">
										<option selected disabled>년</option>
									</select>
								</div>
								<div class="col-4">
									<select class="form-select" aria-label="Default select example" id="birth-month" name="birth-month">
										<option selected disabled>월</option>
									</select>
								</div>
								<div class="col-4">
									<select class="form-select" aria-label="Default select example" id="birth-day" name="birth-day">
										<option selected disabled>일</option>
									</select>
								</div>
							</div>
							<!-- 성별 -->
							<div class="row mt-3">
								<label for="gender" class="form-label">성별</label>
								<div class="col">
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="checkbox" value="male" id="male"
											name="gender">
										<label class="form-check-label" for="male">
											남성
										</label>
									</div>
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="checkbox" value="female" id="female"
											name="gender">
										<label class="form-check-label" for="female">
											여성
										</label>
									</div>
								</div>
							</div>
							<!-- 전화번호 -->
							<div class="row mt-3">
								<label for="phone" class="form-label">전화번호</label>
								<div class="col-8">
									<input type="text" class="form-control" id="phone" placeholder="-제외하고 입력" name="phone">
								</div>
								<div class="col-4">
									<a href="" class="btn btn-info">전화번호 인증</a>
								</div>
							</div>
							<!-- 종류 -->
							<div class="row mt-3 justify-content-start">
								<label for="howvegan" class="form-label">비건 종류</label>
								<div class="col-4">
									<select class="form-select" aria-label="Default select example" id="howvegan"
										name="howvegan">
										<option selected>비건 종류</option>
										<option value="1">One</option>
										<option value="2">Two</option>
										<option value="3">Three</option>
									</select>
								</div>
							</div>
							<!-- 이미지 -->
							<div class="row mt-3">
								<label for="image" class="form-label">프로필 이미지</label>
								<div class="col">
									<div class="input-group">
										<input type="file" class="form-control" id="image" name="image">
										<label class="input-group-text" for="image">업로드</label>
									</div>
								</div>
							</div>
						</div>
						<div class="row mt-5">
							<button type="submit" class="btn btn-block greenBtn">수정</button>
						</div>
					</form>
				</div>
			</div>
			</div>
		</section>
		<!-- 회원가입 끝 -->
		<script>
			//'출생 연도' 셀렉트 박스 option 목록 동적 생성
			const birthYearEl = document.querySelector('#birth-year')
			// option 목록 생성 여부 확인
			isYearOptionExisted = false;
			birthYearEl.addEventListener('focus', function () {
				// year 목록 생성되지 않았을 때 (최초 클릭 시)
				if (!isYearOptionExisted) {
					isYearOptionExisted = true
					for (var i = 1940; i <= 2024; i++) {
						// option element 생성
						const YearOption = document.createElement('option')
						YearOption.setAttribute('value', i)
						YearOption.innerText = i + " 년"
						// birthYearEl의 자식 요소로 추가
						this.appendChild(YearOption);
					}
				}
			});
			// Month
			const birthMonthEl = document.querySelector('#birth-month')
			// option 목록 생성 여부 확인
			isMonthOptionExisted = false;
			birthMonthEl.addEventListener('focus', function () {
				// year 목록 생성되지 않았을 때 (최초 클릭 시)
				if (!isMonthOptionExisted) {
					isMonthOptionExisted = true
					for (var i = 1; i <= 12; i++) {
						// option element 생성
						const MonthOption = document.createElement('option')
						if (i < 10) {
							MonthOption.setAttribute('value', "0" + i)
							MonthOption.innerText = "0" + i
						} else {
							MonthOption.setAttribute('value', i)
							MonthOption.innerText = i
						}
						// birthYearEl의 자식 요소로 추가
						this.appendChild(MonthOption);
					}
				}
			});
			//Day도 동일한 방식으로 구현
			const birthDayEl = document.querySelector('#birth-day')
			// option 목록 생성 여부 확인
			isDayOptionExisted = false;
			birthDayEl.addEventListener('focus', function () {
				// year 목록 생성되지 않았을 때 (최초 클릭 시)
				if (!isDayOptionExisted) {
					isDayOptionExisted = true
					for (var i = 1; i <= 31; i++) {
						// option element 생성
						const DayOption = document.createElement('option')

						if (i < 10) {
							DayOption.setAttribute('value', "0" + i)
							DayOption.innerText = "0" + i
						} else {
							DayOption.setAttribute('value', i)
							DayOption.innerText = i
						}
						// birthYearEl의 자식 요소로 추가
						this.appendChild(DayOption);
					}
				}
			});
		</script>
	</body>
</div>
</html>