<!-- templates/login_alert.html -->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login Required</title>
	<script type="text/javascript">
      // 페이지 로드 시 경고를 띄우고 로그인 페이지로 이동
      window.onload = function() {
          alert("로그인 해 주세요");
          window.location.href = "/login"; // /login 페이지로 리다이렉트
      };
	</script>
</head>
<body>
</body>
</html>
