/* 폰트 임포트 테스트 */
/*@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');*/

/* 웹페이지 전체 공통 (추후 제외할 내용) */
* {
	margin: 0;
	padding: 0;
}


body {
	background-color: #fff;
	/*font-family: 'Noto Sans KR', sans-serif;*/
	color: #333;
}
/********************** common : 메뉴바 재설정 *********************/
/********************** common : 메뉴바 재설정 *********************/
/********************** common : 메뉴바 재설정 *********************/
nav header {
	background-color: #386641;
	position: relative;
}

nav {
	position: relative;
}

nav~.container {
	position: relative;
}
.rowTitle{
	background-color: #f2e8cf;
	height: 200px;
	display: flex;
	align-items: center;
}
/*** 페이지 타이틀 ***/
.pageTitle {
	font-size: 3rem;
	font-weight: bold;
	color: #6a994e; /* 블루 색상 */
}
.questionImg{
	max-height: 400px;
	width: auto;
}

textarea{
	resize: none;
}
.card{
	width: 60%;
}
.table-group-divider{
 color:#6a994e;
}

    table {
        width: 100%; /* 테이블이 전체 화면 너비를 차지하게 설정 */
        table-layout: fixed; /* 셀 너비를 고정 */
    }

    th {
        text-align: left; /* 제목은 좌측 정렬 */
    }

    /* 각 열의 비율을 설정 */
    th:nth-child(1) { /* # (번호) */
        width: 10%; /* 10% 정도로 짧게 */
    }
    th:nth-child(2) { /* 제목 */
        width: 50%; /* 제목은 가장 넓게 */
    }
    th:nth-child(3), th:nth-child(4) { /* 글쓴이, 작성시간 */
        width: 20%; /* 글쓴이와 작성시간은 동일한 너비 */
    }
