@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
* {
	margin: 0;
	padding: 0;
	font-family: "Noto Sans KR", sans-serif;
	/*font-family: 'NanumGothic';*/
}

/*폰트color *-> body*/
body{
	color: #333333;
}
:root {
    --main-color: #00592D;
	--sub-box: rgb(88, 143, 52);
	--sub-box-hover: rgb(68, 113, 40);
	--sub-green: rgb(153, 164, 60);
	--sub-light: rgb(196, 204, 115);
}
ul li,
ol li {
	list-style: none;
}
.hm-btn-border-green{
	border: 1px solid var( --sub-box);
	color: var(--sub-box);
	background-color: white;

}
.hm-btn-border-green:hover{
	background-color: var( --sub-box);
	color: white;
}
.hm-btn-green{
	background-color: var( --sub-box);
		color: white;
}
.hm-btn-green:hover{
	background-color: var(--sub-box-hover );
	color: white;
}
.hm-btn-light{
	background-color: var( --sub-light);
			color: white;
}
.hm-btn-light:hover{
	background-color: var( --sub-green);
			color: white;
}

html,
body {
	height: 100%;
}

#wrapper {
	overflow-x: hidden;
}

footer {
	background-color: var(--main-color);
	position: relative;
	bottom: 0;
	width: 100%;
	height: 100%;
}

.custom-line-height {
	line-height: 1.2;
}

a {
	/*text-decoration: none;
	color: black;*/
	
	color: inherit; /* 글자색을 상속받도록 설정 */
	text-decoration: none;
}

.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}




/* 네브바 */
header {
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: space-between;
	background-color: var(--main-color);
	position: fixed;
	z-index: 30;
}

.difference{
	mix-blend-mode: difference;
}

/* 로고 들어갈 곳 */
header .custom-logo {
	display: flex;
	align-items: center;
	width: 25%;
}

header .custom-logo img {
	width: 100px;
	height: 32px;
	margin-left: 30px;
}

header .custom-menu {
	width: 50%;
}

/* 상단 네브바 메뉴 */
header .custom-menu ul.custom-main {
	display: flex;
	height: 60px;
	padding-left: 0;
}

header .custom-menu ul.custom-main li {
	width: 150px;
	height: 60px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
}

header .custom-menu ul.custom-main li a {
	color: white;
}

/* 하단 서브메뉴 */
.custom-menu.custom-sub {
	background-color: #fff;
	top: 30px;
	width: 100%;
	display: flex;
	position: fixed;
	z-index: 29;
	height: 200px;
}


/* 로고 아래 서브메뉴*/
.custom-menu.custom-sub .custom-submenu1 {
	width: 25%;
}

/* 메뉴 아래 서브메뉴 */
.custom-menu.custom-sub .custom-submenu2 {
	display: flex;
	width: 50%;
	padding-top: 50px;

}

.custom-menu.custom-sub .custom-submenu2 ul {
	
	width: 150px;
	text-align: center;
	padding-left: 0;
}

.custom-menu.custom-sub .custom-submenu2 ul li {
	padding: 8px 0;
	width: 150px;
}

.custom-menu.custom-sub .custom-submenu2 ul li a{
	color:white;
	font-weight: bold;
}

/* 아이콘들 아래 서브메뉴 */
.custom-menu.custom-sub .custom-submenu3 {
	width: 25%;
}

.custom-right {
	width: 25%;
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.custom-right .top {
	width: 50%;
	display: flex;
	justify-content: space-around;
	align-self: flex-start;
}

.custom-right .middle {
	width: 50%;
	display: flex;
	justify-content: space-evenly;
	align-self: center;
}


.right{
	color: white;
		font-size: small;
}
.right span{
	color: white;
}
/* 햄버거 버튼, 닫기 버튼 */
.menu-btn,
.close-btn {
	position: absolute;
	right: 5%;
	font-size: 2em;
}

.close-btn {
	top: 5%;
}

/* 화면 작을 때 gnb */
#small-header {
	list-style: none;
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-color: var(--main-color);
	overflow: hidden;
	z-index: 31;
}

#small-header a {
	color: white;
}

ul.small-main .small-bold {
	font-weight: bold;
}

/* 작은 화면 gnb 상단 버튼 */
.small-buttons {
	display: flex;
	position: relative;
	justify-content: space-around;
	top: 5%;
	width: 30%;
	left: 5%;
}

.small-buttons li {
	margin-right: 20px;
}

/* 아이콘들 크기 */
.material-symbols-outlined {
	font-size: 2em;
	color: white;
	margin-right: 10px;
}

.small-search {
	position: absolute;
	display: flex;
	top: 50%;
	right: 5%;
}
.start-65{
	left: 65% !important;
}

.green-navbar {
	background-color: var(--main-color) !important;
}

/*.black-icons {
	color: black;
}*/

.small-search input {
	width: 300px;
	border: none;
	background-color: var(--sub-light);
	border-radius: 45px;
	padding: 10px 20px;
	outline: none;
	color: white;
	margin-right: 30px;
}

.all-menu {
	position: relative;
	height: 20vh;
	width: 100%;
	top: 5vh;
}

#small-header .hr {
	width: 90%;
	border: 1px solid wheat;
	height: 1px;
	position: relative;
	margin-top: 5vh;
	left: 5%;
}

.small-menu {
	position: relative;
	height: 80vh;
	padding: 50px;
}

.small-main>li {
	position: relative;
	margin: 20px 0;
}

.small-category {
	font-size: 30PX;
}

.small-submenu li {
	margin: 20px;
}

.small-submenu li a {
	font-size: 20px;
}



@media (min-width: 1024px) {
	.menu-btn {
		display: none;
	}

	#small-header {
		display: none;
	}

}

@media (max-width: 1024px) {
	.custom-menu {
		display: none;
	}

	.custom-right li {
		display: none;
	}

	.menu-btn {
		display: block;
	}

	.videoBox {
		width: 700px;
		height: 25vh;
	}

	.select-wrapper select {
		width: 150px;
	}

	.recommendButton {
		margin-left: 0;
		width: 80%;
		margin-top: 10px;
	}

	.recommendedPlace img {
		width: 250px;
	}

	.recommendedPlaceText {
		width: calc(100% - 250px);
	}

	.inforCarousel {
		margin-top: -50px;
	}

	.inforCarouselList .card,
	.mobileInforCarouselList .card {
		height: 250px;
	}

	.mobileInforCarousel {
		display: flex;
	}

	.inforCarouselList img,
	.mobileInforCarouselList img {
		height: 100%;
	}

	.inforCarouselList .card-body,
	.mobileInforCarouselList .card-body {
		position: absolute;
		top: 0;
		left: 0;

	}
}


.scroll-to-top {
	position: fixed;
	bottom: 30px;
	right: 30px;
	z-index: 1000;
	width: 70px;
	height: 70px;
	background-color:var(--sub-green);
	border: none;
	border-radius: 50%;
}

/*카트리스트 뱃지 숫자*/
.cart-badge {
	font-size: 0.75rem; /* 숫자를 더 작게 */
	padding: 0.2rem 0.2rem; /* 뱃지 크기 조절 */
	line-height: 1; /* 숫자가 뱃지 중앙에 정렬되도록 */
	font-weight: 400;
	margin-top: 10px;
}


/****** 스크롤바 스타일 ******/

/* Chrome, Safari, Edge, Opera용 커스텀 스크롤바 */
::-webkit-scrollbar {
	width: 8px;  /* 스크롤바 너비 */
	height: 8px; /* 수평 스크롤바 높이 */
}

::-webkit-scrollbar-thumb {
	background-color: rgba(136, 136, 136, 0.3); /* 반투명 연회색 스크롤바 */
	border-radius: 10px;      /* 스크롤바 모서리를 둥글게 */
}

::-webkit-scrollbar-thumb:hover {
	background-color: rgba(85, 85, 85, 0.5);   /* 호버 시 색상이 짙어지면서 시각적 피드백 제공 */
}

::-webkit-scrollbar-track {
	background-color: rgba(240, 240, 240, 0.8); /* 트랙도 살짝 투명한 밝은 회색으로 설정 */
}

/* Firefox 커스텀 스크롤바 */
* {
	scrollbar-width: thin;          /* 얇은 스크롤바 */
	scrollbar-color: rgba(136, 136, 136, 0.3) rgba(240, 240, 240, 0.8);  /* 반투명한 연회색 스크롤바와 트랙 색상 */
}

/* 페이지 내용물과 맞추기 위한 스타일 */
body {
	margin: 0;
	padding: 0;
	overflow-x: hidden; /* 수평 스크롤 방지 */
}
