header {
	position: relative;	
}

.formStyle {
	background-color: #f2e8cf;
}

.enter-password {
	position: relative;
	height: 100vh;
}

.greenBtn {
	background-color: #6A994E;
}
.sidebar {
	border-radius: 10px;
}

.round{
	border-radius: 10px;
}

.greenBtn:hover {
	background-color: #A7C957;
}
#nav_accordion{
	padding-right: 0px;
	border-bottom: none;
}
.lightgreen{
	background-color: #C0DA74;
}

.beige{
	background-color: #f2e8cf !important;
}

.mpcolor{
 background-color: #DBEAAE;
}

.greenfont{
	color: #6A994E;
}

.eye-icon {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
}

.eye {
	cursor: pointer;
	color: black;
}

.sidebar {
	background-color: lightgray;
}

.sidebar li .submenu {
	list-style: none;
	margin: 0;
	padding: 0;
	padding-left: 1rem;
	padding-right: 1rem;
}

.nav-link {
	color: black; 
}

.error-message {
	white-space: pre-line;
	/* 줄바꿈을 인식 */
	padding: 0 var(--bs-alert-padding-x);

}

.error-message p {
	margin-bottom: 0;
}

.tabnav{
	flex: 1 1 45%;
}

#findId{
	
}

