header {
	position: relative;	
}

.formStyle {
	background-color: #f2e8cf;
}

.enter-password {
	position: relative;
	height: 100vh;
}

.greenBtn {
	background-color: #6A994E;
}
.sidebar {
	border-radius: 10px;
}

.round{
	border-radius: 10px;
}

.greenBtn:hover {
	background-color: #A7C957;
}
#nav_accordion{
	padding-right: 0px;
	border-bottom: none;
}
.lightgreen{
	background-color: #C0DA74;
}

.beige{
	background-color: #f2e8cf !important;
}

.mpcolor{
 background-color: #DBEAAE;
}

.greenfont{
	color: #6A994E;
}

.eye-icon {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
}

.eye {
	cursor: pointer;
	color: black;
}

.sidebar {
	background-color: lightgray;
}

.sidebar li .submenu {
	list-style: none;
	margin: 0;
	padding: 0;
	padding-left: 1rem;
	padding-right: 1rem;
}

.nav-link {
	color: black; 
}

.error-message {
	white-space: pre-line;
	/* 줄바꿈을 인식 */
	padding: 0 var(--bs-alert-padding-x);

}

.error-message p {
	margin-bottom: 0;
}

.tabnav{
	flex: 1 1 45%;
}










/* ys : admin_상품리스트 페이지 */

/* 테이블 헤더 고정 */
.prodTableBox thead th {
	position: sticky;
	top: 0;
	z-index: 1; /* 헤더가 본문보다 위에 있도록 설정 */
	background-color: white; /* 배경색을 추가해 스크롤 시 내용이 겹치지 않도록 */
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4); /* 스크롤 시 헤더 구분을 위한 그림자 */
}

/* tbody에 스크롤 기능 추가 */
.prodTableBox tbody {
	display: block;
	max-height: 80vh; /* 높이를 고정해서 스크롤 발생 */
	overflow-y: scroll; /* 세로 스크롤 */
}

/* tbody 내의 tr과 td가 잘 맞도록 설정 */
.prodTableBox thead, .prodTableBox tbody tr {
	display: table;
	width: 100%;
	table-layout: fixed; /* 열 너비를 테이블 전체 너비에 맞춤 */
}

/* tbody에서 테이블이 깨지지 않도록 */
.prodTableBox tbody td {
	overflow-wrap: break-word; /* 내용이 긴 경우 자동으로 줄바꿈 */
}

