/* 웹페이지 전체 공통 (추후 제외할 내용) */
* {margin: 0;padding: 0;}
body{
    background-color : #fff;
    color: #333;
}

/* 웹페이지 전체 공통 (전체 페이지에도 있는지 확인하기) */
li a{
    text-decoration: none !important;
}


/* 디폴트 스타일 reset */
ul {
    margin-bottom: 0;
}

/******* util Style *********/
/******* util Style *********/
/******* util Style *********/
.f14{
    font-size: 14px;
}
.f20{
    font-size: 20px;
}
.c333{
    color: #333333 !important;
}
.c666{
    color: #666666 !important;
}
.c999{
    color: #999999;
}
.f28 {
    font-size: 28px;
}
.fw500{
    font-weight: 500;
}
.fw700{
    font-weight: 700;
}



/********************** common *********************/
/********************** common *********************/
/********************** common *********************/
section {
    height: auto;
}
:root{
    --swiper-navigation-size: 32px;
}
/********************** common : 메뉴바 재설정 *********************/
/********************** common : 메뉴바 재설정 *********************/
/********************** common : 메뉴바 재설정 *********************/
nav header {
    background-color: #386641;
    position: relative;
}

nav {
    position: relative;
}

nav ~ .container {
    position: relative;
}


/********************** Shop List *********************/
/********************** Shop List *********************/
/********************** Shop List *********************/
.navbar ~ .container {
    position: relative;
}

/*** 페이지 타이틀 ***/
.pageTitle{
    /* !!!!!!!!!!!! 왜 헤더부분이랑 겹치게 배치되는지 확인 필요*/
    /*위치 다시 잡아야함!!!!!!!*/
    /* padding-top: 100px;*/
    font-size: 32px;
    font-weight: 800;
}
