/* 웹페이지 전체 공통 (추후 제외할 내용) */
* {margin: 0;padding: 0;}
body{
    background-color : #fff;
    color: #333;
}

/* 웹페이지 전체 공통 (전체 페이지에도 있는지 확인하기) */
li a{
    text-decoration: none !important;
}


/* 디폴트 스타일 reset */
ul {
    margin-bottom: 0;
}



/********************** common *********************/
/********************** common *********************/
/********************** common *********************/
section {
    height: auto;
}
:root{
    --swiper-navigation-size: 32px;
}
/********************** common : 메뉴바 재설정 *********************/
/********************** common : 메뉴바 재설정 *********************/
/********************** common : 메뉴바 재설정 *********************/
nav header {
    background-color: #386641;
    position: relative;
}

nav {
    position: relative;
}

nav ~ .container {
    position: relative;
}


/********************** Shop List *********************/
/********************** Shop List *********************/
/********************** Shop List *********************/
.navbar ~ .container {
    position: relative;
}

/*** 페이지 타이틀 ***/
.pageTitle{
    /* padding-top: 100px;*/
    font-size: 32px;
    font-weight: 800;
}



/*********************************************************************/
body > .container * {
    color: #333333;
}

.removeItem {
    color: #666666ad;
}

.removeItem:hover {
    cursor: pointer;
}

.removeItem:active {
    color: #333333ad;
}

.contRightSide * {
    /* border: 1px solid lightsteelblue; */
    box-sizing: border-box;
}

.dlvrAddrCard p input {
    padding: 0;
}

.stickyBox {
    position: sticky;
    top: 28px;
}

/*폼 스타일 */
/*구매 수량 quantity input*/
.quantityBox label.form-label{
    margin-bottom: 0;
       padding-right: 50px;
   }
   .number-input {
       display: flex;
       height: 30px;
       align-items: stretch;
       border: 1px solid #bbb;
       width: fit-content;
   }
   
   .number-input input[type="number"] {
       border: 0;
       padding: 1px;
       text-align: center;
       width: 60px;
       -moz-appearance: textfield; /* Firefox에서 기본 스핀 버튼 숨기기 */
       color: #333333;
       font-weight: 600;
       font-size: 14px;
   }
   
   .number-input input[type="number"]:active, .number-input input[type="number"]:focus {
       box-shadow: none;
   }
   .number-input input[type="number"]::-webkit-outer-spin-button,
   .number-input input[type="number"]::-webkit-inner-spin-button {
       -webkit-appearance: none;
       margin: 0; /* 기본 스핀 버튼 숨기기 */
   }
   
   .number-input button {
       background-color: transparent;
       border: none;
       padding: 0 10px;
       cursor: pointer;
       font-size: 18px;
       width: 30px;
       text-align: center;
   }
   
   .number-input button i{
       color: var(--bs-success);
       opacity: 0.7;
   }
   .number-input button:active i{
       color: var(--bs-success);
       opacity: 1;
   }









.cartItemList h5.prodName{
    font-weight: 700;
}

.cartItemList p.prodOrgPrice{
    color: #999;
    text-decoration: line-through;
    display: inline-block;
    margin-right: 10px;
}
.cartItemList p.prodDiscount{
    font-size: 14px;
    color: rgb(255, 102, 46);
    font-weight: bold;
    display: inline-block;
}
.cartItemList p.prodFinalPrice{
    font-size: 20px;
    font-weight: 700;
        display: inline-block;
}
.cartItemList .prodFinalPrice{
    font-size: 24px;
    font-weight: 700;
        display: inline-block;
}
.cartItemList p.prodReview{
    font-size: 16px;
    color:#bbb;
}


.cartItemList .prodTotalPrice{
    font-weight: 600;
    font-size: 20px;
}
   
