/* 폰트 임포트 테스트 */
/*@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');*/

/* 웹페이지 전체 공통 (추후 제외할 내용) */
* {
	margin: 0;
	padding: 0;
}

header {
	height: 100px;

}


header .custom-logo img {
	height: 50px;
}

/* 상단 네브바 메뉴 */
header .custom-menu ul.custom-main {

	height: 100px;
}

header .custom-menu ul.custom-main li {
	height: 100px;


}

body {
	background-color: #fff;
	/*font-family: 'Noto Sans KR', sans-serif;*/
	color: #333;
}

.storeReview {
	position: relative;
	border-radius: 10px;
}

.revStoName {
	color: gray;
}

.revImgContainer {
	border: 1px solid #386641;
	border-radius: 10px;
	width: 100%;
	padding: 10px;
	display: flex;
}

.revImgWrapper {
	width: 100%;
}

.revImgWrapper button {
	position: relative;
}

#starRating {
	font-size: 40px;
	/* 별 크기 조정 */
	cursor: pointer;
	/* 마우스 커서 변경 */
	background-color: lightgray;
	width: 250px;
	text-align: center;
}

.carousel-control-next {
	background-color: purple;
	margin-right: -50px;
}

.carousel-control-prev {
	background-color: purple;
	margin-left: -50px;
}

#loadMoreBtn {
	opacity: 0.4;
	/* 투명도 설정 */
	background-color: rgba(20, 123, 255, 1);
	/* 버튼 배경색을 약간 투명하게 설정 */
	padding: 10px 20px;
	/* 패딩 조정 */
	border-radius: 5px;
	/* 모서리 둥글게 */
	cursor: pointer;
	/* 커서 모양 변경 */

}

#loadMoreBtn:hover {
	opacity: 0.6;
	/* 호버 시 투명도 증가 */
}

.revImgLink {
	margin: 0px 5px;
	cursor: pointer;
}



.star {
	color: gray;
	/* 기본 별 색상 */
}

.createdAt small {
	font-size: 10px;
	color: gray;
}

#revText {
	width: 60%;
	resize: none;
	height: 100px;
}

#moreReviews .revImgLink {
	position: relative;
	margin: 0px 5px 10px;
}

.star.selected {
	color: gold;
	/* 선택된 별 색상 */
}

.revImgBox {
	width: 100%;
	height: auto;
	/* 높이를 자동으로 설정 */
	aspect-ratio: 1;
	/* 정사각형 비율 유지 */
	background-position: center;
	background-size: cover;
	border-radius: 5px;
}

.carousel-item {
	flex: 0 0 12.5%;
	/* 100% / 8 = 12.5% */
	max-width: 12.5%;
	/* 최대 너비를 12.5%로 설정 */
	width: 12.5%;
	margin-right: 0;
}

.revImgRow .revImgBox {
	width: 100px;
	height: 100px;
	cursor: pointer;
}

.carousel-inner {
	display: flex;
	justify-content: space-around;
}
#reviewForm{
	display: none;
}
/* 모달 크기 조정 */
.modal-dialog {
	max-width: 60%;
	/* 모달의 최대 너비를 60%로 설정 */
	margin: auto;
	/* 중앙 정렬 */
	display: flex;
	/* Flexbox 사용 */
	align-items: center;
	/* 세로 중앙 정렬 */
	height: 100vh;
	/* 전체 화면 높이 */
}

/* 모달의 내용이 화면 중앙에 위치하도록 조정 */
.modal-content {
	text-align: center;
	/* 내용 중앙 정렬 */
}

#modalImage {
	max-height: 600px;
}

.modal-body .col-5 {
	text-align: start;
}

/* 웹페이지 전체 공통 (전체 페이지에도 있는지 확인하기) */
li a {
	text-decoration: none !important;
}


/* 디폴트 스타일 reset */
ul {
	margin-bottom: 0;
}

.hidden {
	display: none;
}


/********************** common *********************/
/********************** common *********************/
/********************** common *********************/
section {
	height: auto;
}

/********************** common : 메뉴바 재설정 *********************/
/********************** common : 메뉴바 재설정 *********************/
/********************** common : 메뉴바 재설정 *********************/
nav header {
	background-color: #386641;
	position: relative;
}

nav {
	position: relative;
}

nav~.container {
	position: relative;
}


/********************** Shop List *********************/
/********************** Shop List *********************/
/********************** Shop List *********************/
.navbar~.container {
	position: relative;
}

/*** 페이지 타이틀 ***/
.pageTitle {
	/* !!!!!!!!!!!! 왜 헤더부분이랑 겹치게 배치되는지 확인 필요*/
	/*위치 다시 잡아야함!!!!!!!*/
	/* padding-top: 100px;*/
	font-size: 32px;
	font-weight: 800;
}

/*card-body : 아이템 정보*/
/**** shop/list, shop/detail 공통 *****/
.placeInfo h3.placeName {
	font-weight: 800;
}

.placeTitle {
	font-weight: bold;
	color: #808080;
	font-size: 14px;
	margin-bottom: 0.5rem;
}

.icons svg {
	margin-left: 0.7rem;
}

.icons span {
	margin-left: 0.3rem;
}

.table {
	border-collapse: collapse;
	/* 테이블 경계선 없애기 */
}

.table td {
	border: none;
	/* 경계선 없애기 */
	padding: 0.8rem;
	/* 여백 조정 */
	position: relative;
	/* 밑줄을 위한 위치 설정 */
	font-size: 14px;
}

.table td::after {
	content: '';
	/* 밑줄 생성 */
	position: absolute;
	left: 0;
	bottom: 0;
	height: 1px;
	/* 밑줄 두께 */
	width: 100%;
	/* 전체 너비 */
	background-color: rgb(228, 228, 228);
	/* 밑줄 색상 */
}

.placeInfo p.placeDesc {
	color: #999;
	font-size: 14px;
}

.placeInfo p.placeOrgPrice {
	color: #999;
	text-decoration: line-through;
}

.placeInfo p.placeDiscount {
	font-size: 18px;
	color: rgb(255, 102, 46);
	font-weight: bold;
	display: inline-block;
}

.placeInfo p.placeFinalPrice {
	font-size: 20px;
	font-weight: 700;
	display: inline-block;
}

.placeInfo p.placeReview {
	font-size: 16px;
	color: #bbb;
}

/*예약 박스*/
.reservationBox {}

/******* shop_detail : 상품 상세페이지 *******/
/******* shop_detail : 상품 상세페이지 *******/
/******* shop_detail : 상품 상세페이지 *******/
/*상품 이미지*/
.placeInfo .card-img-wrapper {
	width: 100%;
}

.placeInfo .card-img-box {
	width: 100%;
	height: 80%;
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 4px;
}

.no-reviews-box {
	background-color: #f8f9fa;
	/* 연한 회색 배경 */
	border: 1px solid #dee2e6;
	/* 연한 회색 경계선 */
	color: #6c757d;
	/* 텍스트 색상 */
}

.no-reviews-box h5 {
	font-weight: bold;
	/* 제목 두껍게 */
}

.no-reviews-box p {
	margin-bottom: 0;
	/* 아래 여백 없애기 */
}

.placeInfo {}

/*카드 기본 스타일 리셋*/
.placeInfo .card {
	border-width: 0;
}

.placeInfo .card-body {
	padding: 0;
}

.review-form {
	display: none;
	/* 기본적으로 폼을 숨김 */
}