/* 폰트 임포트 테스트 */
/*@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');*/

/* 웹페이지 전체 공통 (추후 제외할 내용) */
* {
	margin: 0;
	padding: 0;
}


body {
	background-color: #fff;
	/*font-family: 'Noto Sans KR', sans-serif;*/
	color: #333;
}

/********************** common : 메뉴바 재설정 *********************/
/********************** common : 메뉴바 재설정 *********************/
/********************** common : 메뉴바 재설정 *********************/
nav header {
	background-color: #386641;
	position: relative;
}

nav {
	position: relative;
}

nav~.container {
	position: relative;
}


.rowTitle {
	height: 100px;
	display: flex;
	align-items: center;
	flex-direction: column;
}

/*** 페이지 타이틀 ***/
.pageTitle {
	font-size: 3rem;
	font-weight: bold;
	color: #6a994e;
	/* 블루 색상 */
}

/* 섹션 제목 스타일 */
h1 {
	font-size: 2.2rem;
	color: #343a40;
	/* 어두운 색상 */
	margin-bottom: 15px;
}

h4 {
	font-size: 1.2rem;
	color: #6c757d;
	/* 회색 색상 */
	margin-bottom: 40px;
}

/* 카드 스타일 */
.card {
	border: none;
	/* 카드 테두리 제거 */
	border-radius: 10px;
	/* 둥근 모서리 */
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	/* 부드러운 그림자 */
	transition: transform 0.2s;
	/* 호버 효과 */
}

.card:hover {
	transform: scale(1.05);
	/* 호버 시 확대 효과 */
}

.card-img-top {
	border-top-left-radius: 10px;
	/* 이미지 둥근 모서리 */
	border-top-right-radius: 10px;
	/* 이미지 둥근 모서리 */
}

/* 카드 제목 스타일 */
.card-title {
	font-size: 1.5rem;
	font-weight: bold;
	/* 블루 색상 */
	margin-bottom: 10px;
}

/* 카드 텍스트 스타일 */
.card-text {
	font-size: 1rem;
	color: #495057;
	/* 어두운 회색 색상 */
	margin-bottom: 0;
}

.titleText label {
	color: #a7c957;
	font-weight: bold;
	padding: 5px;

}

.subText label {
	padding: 5px 10px;
	color: #808080;
}

/* 라디오 버튼 숨기기 */
input[type="radio"] {
	display: none;
	/* 기본 라디오 버튼 숨기기 */
}

/* 선택된 라디오 버튼의 레이블 스타일 변경 */
input[type="radio"]:checked+label {
	font-weight: bold;
	/* 선택된 상태의 글자 굵기 */
	color: white;
	/* 선택된 상태의 글자 색상 */
	background-color: #a7c957;
	border-radius: 45px;
}

.recipesSize {
	color: #a7c957;
	font-weight: bold;
	font-size: 1.5em;
}
.icons{
	display: flex;
	justify-content: end;
	align-items: center;
}
.icons svg{
	margin-left: 10px;
}
.icons span{
	color: #808080;
	font-size: 16px;
	margin-left: 5px;
}
.orderNum{
	background-color: #a7c957;
	color: white;
	border-radius: 50%;
	font-weight: bold;
	font-size: 1.3rem;
	padding: 5px 10px;
	margin-right: 5px;
}
.cookInstructions{
	font-size: 1.3em;
	font-weight: 600;
}
.favorite-btn{
	
}
/* 반응형 디자인 */
@media (max-width: 768px) {
	.pageTitle {
		font-size: 2rem;
	}

	h1 {
		font-size: 1.8rem;
	}

	h4 {
		font-size: 1rem;
	}

    .card-title {
        font-size: 1.3rem;
    }
	
	.greentext{
		font-size: 1.5rem;
	}
}

/* wellit 페이지 스타일 */
.greentext{
	color: #386641;
}


.weltitle{
	color: #6a994e;
	font-weight: 900;
}

.bold{
	font-weight: 600;
	color: #6c757d;
}

.custom-img {
    height: 250px; /* 원하는 고정 높이 설정 */
    object-fit: cover; /* 이미지 비율을 유지하며 고정 크기에 맞게 자릅니다 */
    width: 100%; /* 이미지가 카드의 전체 너비를 차지하도록 설정 */

}