<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container">
	<link rel="stylesheet" href="./css/map.css" />
	<style>
		.formStyle {
				background-color: #f2e8cf;
			}
		.enter-password{
			position:relative;
			height:100vh;
		}
		.greenBtn {
				background-color: #6A994E;
			}

		.greenBtn:hover {
			background-color: #A7C957;
		}
	</style>
<div class="enter-password d-flex justify-content-center align-items-center">
	<div class="row">
		<div class="col rounded formStyle">
			<form action="" class="password-valid">
				<div class="py-5">
				    <label for="enterpassword" class="form-label">회원정보 확인을 위해 id님의 비밀번호를 입력해주세요</label>
				    <input type="password" class="form-control" id="enterpassword" name="enterpassword">
					<a href="/update_profile" class="btn btn-block greenBtn mt-3">확인</a>
				  </div>
			</form>
		</div>
	</div>
</div>
	
</div>
</html>