<section th:fragment="products" id="products" class="vstack">
	<!-- Link Swiper's CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

	<!--!!!!!!!!!!!!! goods Swiper style !!!!!!!!!!!!!!!!!-->
	<style>
		:root {
			--swiper-pagination-bullet-size: 10px;
			--swiper-pagination-bullet-height: 10px;
			--swiper-pagination-bullet-horizontal-gap: 6px;
			--swiper-pagination-color: #a7c957;
		}

		section#products {
			/*background-color: #eee;*/
		}

		/*goods Swiper style Start*/
		.goodsSwiper {
			width: 100%;
			/*병합 후 높이 수정할 것!!!*/
			/*height: 500px;*/
				height: 100%;
				max-height: 60vh;
		}

		#products {
			background-color: rgba(242, 232, 207, 0.30);
		}

		/*슬라이드 크기*/
		.goodsSwiper .swiper-slide {
			width: 100vw;
			height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				overflow: hidden;
		}
		
		/*배경이미지 위치*/
		.goodsSwiper .bgBox {
			background-position: center;
			background-size: 100% 100%;
        width: 100%;
			height: 100%;
        /*aspect-ratio: 3.84;*/
				background-repeat: no-repeat;
				
				
				display: flex;
				justify-content: center;
				align-items: center;
		}
		
		
		/*goods 이미지 스타일*/
		.goodsSwiper .imgBox {
			height: 100%;
			aspect-ratio: 3.84;
			background: center center no-repeat;
			background-size: auto 100%;
		}

		/*배경*/
    .goodsSwiper .swiper-slide .bgBox.goods01{
        background-image: url("/imgs/main/event_products/hanlabong_bg.png");
    }
		
    /*컨텐츠*/
		.goodsSwiper .imgBox#goods01 {
			background-image: url("/imgs/main/event_products/hanlabong_content.png");
		}

    .goodsSwiper .swiper-slide .bgBox.goods02{
        background-image: url("/imgs/main/event_products/dduck_bg.png");
    }

    .goodsSwiper .imgBox#goods02 {
        background-image: url("/imgs/main/event_products/dduck_content.png");
    }

    .goodsSwiper .swiper-slide .bgBox.goods03{
        background-image: url("/imgs/main/event_products/bokbunja_bg.png");
    }

    .goodsSwiper .imgBox#goods03 {
        background-image: url("/imgs/main/event_products/bokbunja_content.png");
    }
    
    
    @media (max-width: 1200px) {
		    /*1200미만에서 스와이퍼 컨테이너 xl*/
        .goodsSwiper {
            width: 100%;
		        aspect-ratio: 12/5;
            height: auto;
        }
    }
    
    
    
    
    /*모바일 사이즈에서  products 사이즈, 이미지교체*/
    @media (max-width: 768px) {

        /*768미만에서 스와이퍼 컨테이너 md*/
        .goodsSwiper {
            width: 100%;
            aspect-ratio: 1;
            height: auto;
		        max-height: none;
        }
		    
        .goodsSwiper .swiper-slide {
            width: 100vw;
            height: 100vw;
        }

        /*배경이미지 위치*/
        .goodsSwiper .bgBox {
            background-position: center;
            background-size: 100% 100%;
            height: 100%;
            aspect-ratio: 1;
            background-repeat: no-repeat;


            display: flex;
            justify-content: center;
            align-items: center;
        }
        .goodsSwiper .swiper-slide .bgBox.goods01{
            background-image: url("/imgs/main/event_products/hanlabong_square.png");
        }
        .goodsSwiper .swiper-slide .bgBox.goods02{
            background-image: url("/imgs/main/event_products/dduck_square.png");
        }
        .goodsSwiper .swiper-slide .bgBox.goods03{
            background-image: url("/imgs/main/event_products/bokbunja_square.png");
        }


        .goodsSwiper .imgBox {
            background-image: none !important;
        }
    }

    /*스와이퍼 버튼 위치*/
    .btnBox {
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    .goodsSwiper:hover .btnBox{
        opacity: 0.6;
    }

    
    /*goods 텍스트 스타일*/
		.goodsSwiper .descBox {
			width: 100%;
			height: 100%;
			padding: 5%;
			color: #fff;
			box-sizing: border-box;
		}

		.goodsSwiper .descBox h2.goodsTitle {
			font-size: 32px;
			/*text-shadow: 1px 1px 3px #333;*/
		}

		.goodsSwiper .descBox h4.goodsName {
			font-size: 24px;
			/*text-shadow: 3px 3px 8px #333;*/
		}

		.goodsSwiper .descBox h5.goodsPrice {
			font-size: 24px;
			/*text-shadow: 1px 1px 1px #333;*/
		}

		.goodsSwiper .descBox .goodsBottomLine {
			position: absolute;
			display: flex;
			justify-content: space-between;
			width: 100%;
			align-items: center;
			margin: 0 0 50px -5%;
			box-sizing: border-box;
			padding: 0 7%;
			bottom: 0;
		}

		.goodsSwiper .descBox a.btn {
			background-color: rgba(255, 255, 255, 0.2);
			color: #fff;
		}

		.goodsSwiper .descBox a.btn:hover {
			background-color: rgba(106, 153, 78, 0.95);
		}


		.goodsSwiper .swiper-slide:not(.swiper-slide-active) .descBox {
			display: none;
		}

		/*goods 네비게이션 버튼*/
		.goodsSwiper .swiper-btn {
			width: 30px;
			height: 100%;
			position: absolute;
			background-color: transparent;
			z-index: 99;
			cursor: pointer;
		}

		.goodsSwiper .swiper-btn.swiper-prev {
			left: 50px;
			
		}

		.goodsSwiper .swiper-btn.swiper-next {
			right: 50px;
		}

		.goodsSwiper .swiper-btn .btnBox {
			width: 40px;
			height: 40px;
			position: relative;
			top: calc(50% - 20px);
				/*opacity: 60%;*/
        filter: drop-shadow(0 3px 2px rgba(167, 201, 87, 0.50));
		}

		.goodsSwiper .swiper-prev .btnBox {
			background: url("/imgs/main/icon/prev-btn.png") no-repeat;
			background-size: contain;
			background-position-y: 50%;
			background-position-x: 50%;
		}


		.goodsSwiper .swiper-next .btnBox {
			background: url("/imgs/main/icon/next-btn.png") center no-repeat;
			background-size: contain;
		}

		/* goods 버튼 호버 시 */
		.goodsSwiper .swiper-prev:hover .btnBox {
			animation: goPrev 500ms ease-in-out infinite;
		}

		@keyframes goPrev {
			0% {
				transform: translateX(0px);
			}

			50% {
				transform: translateX(-10px);
			}

			100% {
				transform: translateX(0px);
			}
		}

		.goodsSwiper .swiper-next:hover .btnBox {
			animation: goNext 500ms ease-in-out infinite;
		}

		@keyframes goNext {
			0% {
				transform: translateX(0px);
			}

			50% {
				transform: translateX(10px);
			}

			100% {
				transform: translateX(0px);
			}
		}

		.goodsSwiper .swiper-prev:active .btnBox,
		.goodsSwiper .swiper-next:active .btnBox {
			filter: drop-shadow(0 3px 2px rgba(167, 201, 87, 0.50));
			animation: none;
				transform: translateY(2px);
		}

    .swiper-pagination-bullet {
        background: #eeeeee;
        width: 12px;
        height: 12px;
        border-radius: 6px;
        margin: 0 6px;
        transition: background 0.3s, width 0.3s;
		    opacity: 80%;
		    
    }

    .swiper-pagination-bullet-active {
        background: #FF6347; /* 활성화된 페이지네이션 버튼 색상 */
        /*transform: scale(2.0);*/ /* 선택된 페이지네이션 점을 조금 키움 */
        /*transform: scaleX(2.0);*/ /* 선택된 페이지네이션 점을 조금 키움 */
		    width: 30px;
		    opacity: 1;
    }

    /* 페이지네이션의 위치 */
    .goodsSwiper .swiper-pagination {
        bottom: 50px;
        text-align: center;
        display: flex;
        justify-content: center;
		    width: fit-content;
    }


    /*버튼스타일*/
    @media (max-width: 768px) {

        /*goods tablet 이하에서 버튼 변경*/
        .goodsSwiper .swiper-btn.swiper-prev {
            left: 20px;
        }

        .goodsSwiper .swiper-prev .btnBox {
            /*background: url("/imgs/main/icon/prev-btn.png") no-repeat;
						background-size: 100px;*/
            background-position-y: 50%;
            background-position-x: 50%;
            border-radius: 50%;
            padding: 10px;
            /*opacity: 0.8;*/
        }

        .goodsSwiper .swiper-btn.swiper-next {
            right: 20px;
            left: auto;
        }

        .goodsSwiper .swiper-next .btnBox {
            /*background: url("/imgs/main/icon/next-btn.png") no-repeat;
						background-size: 100px;*/

            background-position-y: 50%;
            background-position-x: 50%;
            border-radius: 50%;
            padding: 10px;
            /*opacity: 0.6;*/
        }

        .goodsSwiper .swiper-btn .btnBox {
            top: calc(50% + 15px);
        }


    }

		@media (min-width: 768px) {

			/*goods pc사이즈에서 pagination 숨김*/
			/*.pagination {
				visibility: hidden;
			}*/
		}
	</style>

	<div class="row mb-5">
		<!--<div class="d-block"></div>-->
		<div class="text-center my-5 titleText">
			지금 핫한 그 상품💥
		</div>
	</div>
	<!-- Swiper -->
	<div class="swiper goodsSwiper">
		<!--네비게이션버튼-->
		<div class="swiper-btn swiper-prev">
			<div class="btnBox"></div>
		</div>
		<div class="swiper-btn swiper-next">
			<div class="btnBox"></div>
		</div>

		<!--goods 슬라이드-->
		<div class="swiper-wrapper">
			<div class="swiper-slide goods01">
				<div class="bgBox goods01" >
					<div class="imgBox" id="goods01"> <!--한라봉-->
						<!--todo: 중요!!!!! 링크 상품페이지로-->
						<a href="/shop/detail/341" class="d-block w-100 h-100"></a>
						
					</div>
				</div>
			</div> <!--//goods01-->

			<div class="swiper-slide goods02">
				<div class="bgBox goods02">
				 <div class="imgBox" id="goods02"> <!--방앗간-->
					 <!--todo: 중요!!!!! 링크 상품페이지로-->
					 <a href="/shop/detail/341" class="d-block w-100 h-100"></a>
				 </div>
				</div>
			</div> <!--//goods02-->

			<div class="swiper-slide goods03">
				<div class="bgBox goods03"> <!--복분자-->
				 <div class="imgBox" id="goods03">
					 <!--todo: 중요!!!!! 링크 상품페이지로-->
					 <a href="/shop/detail/341" class="d-block w-100 h-100"></a>
				 </div>
				</div>
			</div> <!--//goods03-->

			

			
			
			
			
			
			
		</div> <!--//wrapper-->
		<div class="swiper-pagination"></div>
	</div>

	<!-- Swiper JS -->
	<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
	<script>
		var goods_swiper = new Swiper(".goodsSwiper", {
			centeredSlides: true,
			loop: true,
			navigation: {
				nextEl: '.swiper-next',
				prevEl: '.swiper-prev',
			},
			pagination: {
          el: '.swiper-pagination',
          clickable: true,
			},
      autoplay: {
          delay: 5000,
      },
			// 기본 설정
			slidesPerView: "1",
			 effect: "slide",
		});

  
  
  

		// prev,next slide 클릭 시 슬라이드
		goods_swiper.slides.forEach(function (slide) {
			slide.addEventListener('click', function () {
				var realIndex = slide.getAttribute('data-swiper-slide-index');
				goods_swiper.slideToLoop(realIndex);
			});
		});
        
        function positionOfPagination(){
            var winWidth = $(window).width();
            
            if (winWidth<1200){
                $(".goodsSwiper .swiper-pagination").css({"left":"50px"});
            } else {
                var posX = ((winWidth - 1200 )/2)+100
		            console.log(posX);
                $(".goodsSwiper .swiper-pagination").css({"left":posX});
            }
        }
        
        
		
        $(function (){
            positionOfPagination();
        })

		$(window).on("resize",function (){
        positionOfPagination();
		})
	</script>
</section>