<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<html layout:decorate="~{layout}">
<head>
	<!--<title>상품 리스트</title>-->
	
	<!-- font font-awesome CDN -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
	      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
	      crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<div layout:fragment="content" class="container shopList">
	
	<!--sweet alert2 cdn-->
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	
	<!--shop style link-->
	<link rel="stylesheet" th:href="@{/css/util.css}">
	<link rel="stylesheet" th:href="@{/css/shop.css}">
	
	<!--페이지 제목-->
	<div class="row my-5">
		<div class="pageTitle col text-center">
			오가닉샵
		</div>
	</div>
	
	<!-- 카테고리 선택 리스트 박스 -->
	<div class="prodCateLiRow row my-4 py-4 rounded-2">
		<div class="col">
			<ul class="row row-cols-1 row-cols-sm-2 row-cols-md-3 justify-content-start  pl-4">
				<li class="prodCate col py-1 py-sm-2" id="all"><a href="#" class="prodCateLink" data-category="all">모두보기</a></li> <!-- all -->
				<li class="prodCate col py-1 py-sm-2" id="mealkit"><a href="#" class="prodCateLink" data-category="mealkit">밀키트</a></li> <!-- mealkit -->
				<li class="prodCate col py-1 py-sm-2" id="sidedish"><a href="#" class="prodCateLink" data-category="sidedish">반찬배송</a></li> <!-- sidedish -->
				<li class="prodCate col py-1 py-sm-2" id="organicfood"><a href="#" class="prodCateLink" data-category="organicfood">유기농식재료</a></li> <!-- organicfood -->
				<li class="prodCate col py-1 py-sm-2" id="organicgoods"><a href="#" class="prodCateLink" data-category="organicgoods">오가닉 제품</a></li> <!-- organicgoods -->
				<li class="prodCate col py-1 py-sm-2" id="babygoods"><a href="#" class="prodCateLink" data-category="babygoods">베이비</a></li> <!-- babygoods -->
				<li class="prodCate col py-1 py-sm-2" id="petgoods"><a href="#" class="prodCateLink" data-category="petgoods">펫</a></li> <!-- petgoods -->
				<li class="prodCate col py-1 py-sm-2" id="books"><a href="#" class="prodCateLink" data-category="books">책</a></li> <!-- books -->
				<li class="prodCate col py-1 py-sm-2" id="wellitgoods"><a href="#" class="prodCateLink" data-category="wellitgoods">웨릿 굿즈</a></li> <!-- wellitgoods -->
			</ul>
		</div>
	</div>
	
	<div class="row mb-3 justify-content-between prodSearchSort">
		<div class="col-lg-5 position-relative gx-1 searchForm mb-3">
			<input type="text" class="form-control form-control-sm flex-grow-1 rounded-pill px-5" id="search-input" placeholder="상품명 검색">
			<!--<input type="button" class="form-control form-control-sm px-2 ms-1" value="검색" id="searchBtn">-->
			<span  id="searchBtn"> <i class="fa-solid fa-magnifying-glass"></i></span>
			<span class="clear-btn" id="clearBtn">&times;</span>
		</div>
		
		<div class="col-lg-7 d-flex justify-content-end  gx-1 gap-2 sortForm">
			<!-- 정렬 옵션 리스트-->
			<ul class="sortBox d-flex justify-content-end">
				<li><a href="#" class="sortLink" data-order="latest">신상품 순</a></li>
				<li><a href="#" class="sortLink" data-order="reviewRating">평점 순</a></li>
				<li><a href="#" class="sortLink" data-order="favoriteCount">추천 순</a></li>
				<li><a href="#" class="sortLink" data-order="lowPrice">낮은 가격 순</a></li>
				<li><a href="#" class="sortLink" data-order="highPrice">높은 가격 순</a></li>
			</ul>
			
			<!-- 보기 개수 선택 -->
			<select class="form-select form-select-sm pagination-size ml-2 d-none d-md-block" id="pageSizeSelect" name="pageSize" >
				<option value="12" class="pageSizeLink" data-size="12">12개씩 보기</option>
				<option value="24" class="pageSizeLink" data-size="24">24개씩 보기</option>
			</select>
		</div>
	</div>
	

	<!--판매 상품 리스트-->
	<div class="prodList row row-cols-1 row-cols-md-2  row-cols-lg-3 row-cols-xxl-4  justify-content-start ms-n1">
		
		<!-- 상품(prodItem) 템플릿 -->
		<div class="prodItem col mb-4" th:attr="data-prodcate=${item.prodCate}" th:each="item : ${prodlist}">
			<div class="card">
				
				<!-- 상품이미지 -->
				<div class="card-img-wrapper rounded-2 mb-3">
					<a th:href="@{|/shop/detail/${item.prodId}|}" class="d-block">
						<div class="card-img-box" th:style="|background-image: url(@{  ${item.prodMainImg}  });|" th:if="${item.prodMainImg!=null}"></div>
						<div class="card-img-box thumbNull d-flex justify-content-center align-items-center" th:if="${item.prodMainImg==null}">
							<div th:text="${item.prodName}" class="thumbNullText"></div>
						</div>
					</a>
				</div>
				
				<!-- 담기버튼 -->
				<a href="javascript:void(0);" class="addCartBtn btn btn-outline-secondary" th:onclick="addToCart([[${item.prodId}]], 1);"><i class="fa-solid fa-cart-shopping" style="color: #666;"></i> 담기</a>
				
				<!-- 상품설명 -->
				<div class="card-body">
					<a th:href="@{|/shop/detail/${item.prodId}|}" class="d-block">
						<p class="prodDesc card-text" th:text="${item.prodDesc}"></p>
						<h5 class="prodName card-title c333" th:text="${item.prodName}"></h5>
						
						<!--할인율 있는 경우 가격 표시 -->
						<th:block th:if="${item.prodDiscount != null and item.prodDiscount > 0}">
							<p class="prodOrgPrice card-text" th:text="|${#numbers.formatInteger(item.prodOrgPrice,3,'COMMA')}원|"></p>
							
							<p class="prodDiscount card-text mr-4" th:text="${#numbers.formatPercent(item.prodDiscount,1,0)}" th:if="${item.prodDiscount < 0.1}"></p><!--10%미만-->
							<p class="prodDiscount card-text mr-4" th:text="${#numbers.formatPercent(item.prodDiscount,2,0)}" th:unless="${item.prodDiscount < 0.1}"></p><!--10%이상-->
							
							<p class="prodFinalPrice card-text c333" th:text="|${#numbers.formatInteger( item.prodOrgPrice - item.prodOrgPrice * item.prodDiscount ,3,'COMMA') }원|"></p>
						</th:block>
						
						<!--할인율 없는 경우 가격 표시-->
						<p class="prodFinalPrice card-text c333" th:if="${item.prodDiscount == null or item.prodDiscount == 0}" th:text="|${#numbers.formatInteger(item.prodOrgPrice,3,'COMMA')}원|"></p>
						
						<!--상품 카운트 뷰 라인-->
						<div class="prodCount card-text d-flex ">
							
							<!--조회수-->
							<p class="prodView d-inline-block me-2">
								<i class="fa-regular fa-eye"></i>
								<span th:text="${item.viewCnt}"></span>
							</p>
						
							<!--리뷰수-->
							<p class="prodReview d-inline-block me-2">
								<i class="fa-regular fa-comment-dots"></i>
								<span th:text="${revCntMap[item.prodId] ?: 0}"></span>
							</p>

							<!--하트수-->
							<p class="prodFavorite d-inline-block">
								<i class="fa-regular fa-heart"></i>
								<span th:text="${favoriteCntMap[item.prodId] ?: 0}"></span>
							</p>
						</div>
						
						
						
						<div class="prodTags">
							<!--할인율 있는 경우 세일상품 태그 표시-->
							<span class="badge text-bg-success" th:text="️세일상품"  th:if="${item.prodDiscount != null and item.prodDiscount > 0}"></span>
							<span class="badge text-bg-success" th:text="️인기상품"  th:if="${revCntMap[item.prodId] != null and revCntMap[item.prodId] > 1000}"></span>
						</div>
					</a>
				</div> <!-- //card-body -->
			</div> <!-- //card -->
		</div> <!-- ///////// prodItem -->
	
	</div> <!--//prodList 상품리스트 그리드-->
	
	<!--페이지네이션-->
	<div class="shopList pageLine position-relative py-3 mb-5">
		
		<div class="paginationContainer d-flex justify-content-center position-absolute start-50 translate-middle-x gap-2">
			<a href="javascript:void(0);" class="pageLink prev" data-page-link="prev" th:if="${currentPage>5}">&laquo;</a>
			
			<th:block th:each="i: ${#numbers.sequence(currentPage-4, currentPage+4)}">
				<a href="javascript:void(0);" th:if="${i>0 && i<=totalPages}" class="pageLink" th:attr="data-page-link=${i}" th:classappend="${i} == ${currentPage} ? 'active' : ''">
					[[${i}]]
				</a>
			</th:block>
			
			<a href="javascript:void(0);" class="pageLink next" data-last-page="${totalPages}" th:if="${currentPage<totalPages-5}">&raquo;</a>
		</div>
		
	</div>
	
	<!--shop js link-->
	<script src="/js/shop.js"></script>


</div> <!--//layout::content-->

<!-- <script layout:fragmsent="script"> -->


</html>







































