<html layout:decorate="~{member/mypage_layout}">
<div layout:fragment="tabcontent" >
	
	<!--shop style link-->
	<link rel="stylesheet" th:href="@{/css/util.css}">
	<link rel="stylesheet" th:href="@{/css/shop.css}">
	
	<div class="d-flex flex-column min-vh-100" id="wrapper">
		
		<!--페이지 제목-->
		<div class="row my-5">
			<div class="pageTitle col text-center" th:unless="${productForm.prodId != null}">
				신규 상품 등록
			</div>
			<div class="pageTitle col text-center" th:if="${productForm.prodId != null}">
				상품 정보 수정
			</div>
		</div>
		
		
		<form
				th:action="${productForm.prodId != null} ? @{/shop/update/{prodId}(prodId=${productForm.prodId})} : @{/shop/save}"
				th:object="${productForm}" method="post" enctype="multipart/form-data" class="productForm" onsubmit="return validateInputs()">
			
			<input type="hidden" id="toBeDeleted" name="toBeDeleted" value="">
			
			
			<!-- 상품 정보 요약 & 주문 폼 -->
			<section class="prodInfo row mb-4 pb-4 rounded-2 justify-content-start">
				<p class="subtle f18 c666 fw-bold">
					상품 내역
				</p>
				<div class="prodImg col-md-6">
					<!-- 상품이미지 -->
					<div class="card-img-wrapper mb-3">
					
					</div>
				</div> <!--prodImg-->
				<section class="main">
					<div class="card mainProdCard bg-transparent">
						<div class="row card-body">
							<div class="col-lg-3 col-md-5">
								<div class="drop-area mt-2" id="mainDropArea" style="z-index: 999;">
									<p>이미지를 여기에 드래그 앤 드롭하세요</p>
									
									<div class="mainImgFrame drop-area gallery">
										<input type="file" class="form-control prodMainImg drop-area" id="prodMainImg1" accept="image/*"
										       style="display: none" name="prodMainImg">
										<button type="button" class="remove-btn" th:styleappend="${prodMainImg != null ? 'display:block':''}">
											<i class="fa-solid fa-minus"></i>
										</button> <!-- 이미지 삭제 버튼 -->
										<img th:src="@{|${prodMainImg}|}" th:if="${prodMainImg != null}" alt="">
									
									</div>
								
								</div> <!-- //drop-area -->
							
							</div> <!-- //메인 이미지 영역 -->
							<div class="col-lg-9 col-md-7">
								<div class="prodTags mb-3">
								</div>
								
								<div class="infoGroup">
									<label for="prodName" class="form-label">상품명</label>
									<input type="text" class="form-control" id="prodName" th:field="*{prodName}">
								</div>
								
								<div class="infoGroup">
									<label for="prodDesc" class="form-label">상품설명</label>
									<input type="text" class="form-control" id="prodDesc" th:field="*{prodDesc}">
								</div>
								<div class="row">
									<div class="infoGroup col-md-6">
										<label for="prodOrgPrice" class="form-label">기준판매가격</label>
										<input type="number" class="form-control text-end" id="prodOrgPrice" th:field="*{prodOrgPrice}"
										       th:value="${prodOrgPrice == null? 10000 : prodOrgPrice}" min="0" step="100">
									</div>
									
									
									<div class="infoGroup col-md-6">
										<label for="prodDiscount" class="form-label">할인율</label>
										<input type="number" class="form-control" id="prodDiscount" th:field="*{prodDiscount}"
										       th:value="0" min="0" max="1" step="0.01">
									</div>
								</div>
								<div class="row">
									<div class="infoGroup col-md-4">
										<label for="prodStock" class="form-label">재고수량</label>
										<input type="number" class="form-control" id="prodStock" th:field="*{prodStock}"
										       th:value="${prodStock == null? 1000 : prodStock}" min="0">
									</div>
									<div class="infoGroup col-md-4">
										<label for="prodCate" class="form-label">카테고리</label>
										<select class="form-select" aria-label="Default select example" id="prodCate" th:field="*{prodCate}">
											<option value="mealkit" selected>밀키트</option>
											<option value="sidedish">반찬배송</option>
											<option value="organicfood">유기농식재료</option>
											<option value="organicgoods">오가닉 제품</option>
											<option value="babygoods">베이비</option>
											<option value="petgoods">펫</option>
											<option value="books">책</option>
											<option value="wellitgoods">웨릿 굿즈</option>
										</select>
									</div>
									<div class="infoGroup col-md-4">
										<label for="prodCate" class="form-label">판매상태</label>
										<select class="form-select" aria-label="Default select example" id="prodStatus" th:field="*{prodStatus}">
											<option value="AVAILABLE" selected>판매중</option>
											<option value="UNAVAILABLE">판매일시중단</option>
											<option value="OUT_OF_STOCK">일시품절</option>
											<option value="DISCONTINUED">단종</option>
										</select>
									</div>
								</div>
								
								
								<p class="card-text mb-5">
									<p class="c999">* 상품 상세 정보</p>
									<!-- <label class="form-label">재료 및 양</label> -->
									<table class="table table-sm" id="prodInfoTable">
										<thead>
										<tr>
											<th scope="col"></th>
											<th scope="col">항목</th>
											<th scope="col">값</th>
											<th scope="col"></th>
										</tr>
										</thead>
										<tbody id="prodInfoList">
											<tr th:if="${productForm.prodInfoList == null || productForm.prodInfoList.size() ==0}">
												<td><input type="button" class="form-control form-control-sm removeRow" value="(-)"></td>
												<td><input type="text" class="form-control form-control-sm infoKey" name="prodInfoList[0].infoKey"
												           placeholder="항목" maxlength="220"></td>
												<td><input type="text" class="form-control form-control-sm infoValue" name="prodInfoList[0].infoValue"
												           placeholder="값" maxlength="220"></td>
												<td><input type="button" class="form-control form-control-sm addRow" value="(+)"></td>
											</tr>
											<tr th:each="info, iterStat : ${productForm.prodInfoList}">
												<td><input type="button" class="form-control form-control-sm removeRow" value="(-)"></td>
												<td><input type="text" class="form-control form-control-sm infoKey"
												           th:name="|prodInfoList[${iterStat.index}].infoKey|"
												           th:value="${info.infoKey}"
												           placeholder="항목" maxlength="220"></td>
												<td><input type="text" class="form-control form-control-sm infoValue"
												           th:name="|prodInfoList[${iterStat.index}].infoValue|"
												           th:value="${info.infoValue}"
												           placeholder="값" maxlength="220"></td>
												<td><input type="button" class="form-control form-control-sm addRow" value="(+)"></td>
											</tr>
										</tbody>
									</table>
								</p>
							</div>
						</div> <!-- //row card-body -->
					
					</div> <!-- //main card -->
				</section>
			
			</section>  <!--prodInfo-->
			
			
			<!--상품 상세 정보 입력-->
			<section class="prodImageSec">
				<ol id="prodImageCardList">
					<!-- 새로운 이미지 추가용 기본 카드 -->
					<li class="card prodImageCard my-3 border-3 border-success-subtle"
					    th:if="${productForm.prodId == null || imageFiles.size() == 0}">
						<div class="card-header d-flex align-items-stretch">
							<div class="removeCardBtnBox" style="aspect-ratio: 1;">
								<div class="removeCard cardMinusBtn w-100 h-100"></div>
							</div> <!-- -버튼-->

							<div class="cardStep flex-grow-1">
								<!-- 이미지 순서 -->
								<p class="text-center mb-0">
									<span class="textStep">No</span>
									<input type="text" readonly class="form-control-plaintext prodImageNum text-left"
									       value="1" name="prodImageNums[]" tabindex="-1" />
								</p>
							</div>
							
							<div class="addCardBtnBox" style="aspect-ratio: 1;">
								<div class="addCard cardPlusBtn w-100 h-100"></div>
							</div> <!--+버튼-->
						</div><!--card-header-->
						
						<div class="card-body">
							<div class="row">
								<div class="">
									<div class="drop-area prodImageDropArea">
										<input type="file" class="form-control prodImageInput" accept="image/*" name="prodImages[]" data-image-num="1" style="visibility: hidden"/>
										<div class="preview border" style="position: relative;">
											<p>이미지를 여기에 드래그 앤 드롭하세요</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
					
					<!-- 기존 이미지들 로딩 -->
					<th:block th:each="prodImageSrc, iterStat : ${imageFiles}">
						<li class="card prodImageCard my-3 border-3 border-success-subtle">
							<div class="card-header d-flex align-items-stretch">
								
								
								<div class="removeCardBtnBox" style="aspect-ratio: 1;">
									<div class="removeCard cardMinusBtn w-100 h-100"></div>
								</div> <!-- -버튼-->
								
									<div class="cardStep flex-grow-1">
										<!-- 이미지 순서 -->
										<p class="text-center mb-0">
											<span class="textStep">No</span>
											<input type="text" readonly class="form-control-plaintext prodImageNum text-left"
											       th:value="${iterStat.index + 1}" name="prodImageNums[]" tabindex="-1" />
										</p>
									</div>
								
								<div class="addCardBtnBox" style="aspect-ratio: 1;">
									<div class="addCard cardPlusBtn w-100 h-100"></div>
								</div> <!--+버튼-->
							</div> <!--card-header-->
							
							<div class="card-body">
								<div class="row">
									<div class="">
										<div class="drop-area prodImageDropArea">
											<input type="file" class="form-control prodImageInput" accept="image/*" name="prodImages[]" th:data-image-num="${iterStat.index + 1}"/>
											<div class="preview border" style="position: relative;">
												<img th:src="@{|${prodImageSrc.imagePath}|}" alt="" class="img-fluid">
												<button class="remove-btn" type="button" style="display: inline-block;">-</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</li>
					</th:block>
				</ol>
			</section>
			
			
			<section class="mb-3 row">
				<!--상품 등록 버튼 #2-->
				<script th:inline="javascript">
	          // 전역 변수를 통해 prodName을 외부 js에서 접근할 수 있게 설정
	          var prodName = '[[${productForm.prodName}]]';  // Thymeleaf로 서버에서 전달된 상품명
				</script>
				
				<div class="col"><input type="submit" class="form-control btn btn-lg btn-success d-block"
				                              th:value="|${productForm.prodId != null ? '상품 수정' : '상품 등록하기'} |" id="shopFormSubmitBtn" onclick="if (!validateInputs()) { event.preventDefault(); }"></div>
			</section>
		
		</form>
	</div><!-- // #wrapper -->
	
	<!--shop js link-->
	<script src="/js/shop.js"></script>


</div> <!--//layout::content-->

</div>
</html>





