<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<html layout:decorate="~{layout}">
<head>
	<title>상품 상세페이지</title>


</head>
<div layout:fragment="content" class="container">
	
	<!-- font font-awesome CDN -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
	      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
	      crossorigin="anonymous" referrerpolicy="no-referrer"/>
	
	<!-- 제이쿼리 라이브러리 로드 -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	

	<!--sweet alert2 cdn-->
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	
	<!--swiper CDN-->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
	
	<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
	
	
	
	<!--shop style link-->
	<link rel="stylesheet" th:href="@{/css/util.css}">
	<link rel="stylesheet" th:href="@{/css/shop.css}">
	

	<!-- 상품 정보 요약 & 주문 폼 -->
	<section class="prodInfo row my-4 py-4 rounded-2 justify-content-start">
		<div class="prodImg col-md-6">
			<!-- 상품이미지 -->
			<div class="card-img-wrapper mb-3">
				<div class="card-img-box" th:style="|background-image: url(@{  ${product.prodMainImg}  });|"></div>
			</div>
		</div> <!--prodImg-->
		<div class="col-md-6 col-xl-4 card">
			<!-- 상품정보 -->
			<div class="card-body">
				<div class="prodTags mb-3">
					<!--할인율 있는 경우 세일상품 태그 표시-->
					<span class="badge text-bg-success"
					      th:if="${product.prodDiscount != null and product.prodDiscount > 0}">세일상품</span>
					
					<!--리뷰 개수가 100개를 초과할 경우 인기상품 태그 표시-->
					<span class="badge text-bg-success"
					      th:if="${product.prodReview != null and #lists.size(product.prodReview) > 100}">인기상품</span>
				</div>
				
				<h5 class="prodName card-title f28" th:text="${product.prodName}"></h5> <!--상품명-->
				<p class="prodDesc card-text f20 c999" th:text="${product.prodDesc}"></p>
				
				<!-- 단위당 금액 : 할인율 있는 경우 가격 표시 -->
				<th:block th:if="${product.prodDiscount != null and product.prodDiscount > 0}">
					<p class="prodOrgPrice card-text mb-1"
					   th:text="|${#numbers.formatInteger(product.prodOrgPrice,3,'COMMA')}원|"></p>
					<p class="prodDiscount card-text mr-4"
					   th:text="${#numbers.formatPercent(product.prodDiscount,2,0)}"></p>
				</th:block>
				<p class="card-text d-inline-block">
					<span class="prodFinalPrice" th:text="${#numbers.formatInteger(product.prodFinalPrice,3,'COMMA')}"></span>
					<span>원</span>
				</p>
				
				
				<p class="card-text mb-5">
				<p class="c999">* 상품 상세 정보</p>
				<table class="table border-top border-light-subtle f14">
					<tr th:each="info: ${product.getProdInfoList()}">
						<th class="c333">[[${info.infoKey}]]</th>
						<td>[[${info.infoValue}]]</td>
					</tr>
				</table>
				</p>

				<p class="card-text mt-5">
					<form th:object="${cartItemRequest}">
						<!--quantity : 구매수량 input, 버튼-->
						
						<div class="mb-3 quantityBox d-flex align-items-center">
							<label for="quantity" class="form-label pr-5 align-self-center fw700 c333">구매수량</label>
							<div class="number-input rounded-1">
								<button class="minus"><i class="fa-solid fa-minus fa-2xs"></i></button>
								<input type="number" min="1" max="100" class="form-control rounded-0" value="1" id="quantity" name="quantity"/>
								<button class="plus"><i class="fa-solid fa-plus fa-2xs"></i></button>
							</div>
						</div>
				
				
				
				<input type="hidden" id="finalPrice" th:value="${product.prodFinalPrice}" />
				<input type="hidden" id="totalPrice" name="totalPrice">
						
						<!--총 구매 금액-->
						<div class="text-end">
							<span class="f12 c333">총 상품금액 : </span>
							<h3 class="prodTotalPrice card-text my-5 text-end d-inline-block"
							    th:text="|${#numbers.formatInteger(product.prodFinalPrice,3,'COMMA')}|"></h3>
							<span class="f20">원</span>
						</div>

						<!--버튼 라인-->
						<div class="mb-3 btns gx-1 d-flex align-items-stretch justify-content-between">
							
							<a href="javascript:void(0);" class="btn btn-outline-success heart" ><i class="fa-regular fa-heart" style="color: #6A994E;"></i></a>
							<a href="javascript:void(0);" th:onclick="addToCart([[${product.prodId}]], Number( document.querySelector('#quantity').value ));" class="btn btn-success goToCart d-inline-flex justify-content-center align-items-center"><i class="fa-solid fa-cart-shopping" style="color: #ffffff;"></i>&nbsp; 장바구니</a>

						</div>
					</form>
				</p>
			</div> <!-- //card-body -->
		</div> <!--col-6 card-->
	</section>  <!--prodInfo-->
	

	
	
	
	<!--상품 상세 정보 출력-->
	<section class="prodDetail container border border-success mb-3 text-center">
		
		<th:block th:each="prodImage : ${product.prodImages}">
			<img th:src="${prodImage.getImagePath()}" class="img-fluid" style="object-fit: contain; max-width: 100%">
		</th:block>
	</section>
	
	
	
	<!--상품 리뷰 -->
	<section class="prodReview container" id="prodReview">
		<h5>상품후기 &nbsp; <span class="revCnt">(<small th:text="${#lists.size(product.prodReview)}"></small>건)</span></h5>
		<!--이미지 리뷰 라인-->
				<section class="imgReviewList" th:insert="shop/shop_imgReview::imgReviewContainer">
					shop_imgReview.html 파일 내용으로 대체
				</section>

		
		
		<!-- 리뷰 리스트 출력 -->
		<div class="container">
			<!--js로 prodId 전달-->
			<input type="hidden" id="prodId" th:value="${product.prodId}" />
			
			<!-- 페이징 리뷰 출력 블록-->
			<div class="reviewBlock"></div>
			
			<!-- 리뷰 페이지 버튼 -->
			<div class="pagination justify-content-center my-3">
				<button class="pageBtn pagePrev btn btn-sm btn-outline-success mx-2">&laquo;</button>
				<button class="pageBtn pageNext btn btn-sm btn-outline-success mx-2">&raquo;</button>
			</div>
		</div>
		
	
	</section>
	
	
	
	
	
	
	<!--shop js link-->
	<script src="/js/shop.js"></script>
	<script th:inline="javascript">
			let isFavorite = [[${favorite}]];
      $(function (){
          isFavoriteProduct(isFavorite);
      })
      //찜하기 선택 여부 확인 -> 버튼 색상 변경
      function isFavoriteProduct(isFavorite){
          const heartBtn = $(".heart");
          if (isFavorite){
              heartBtn.css("backgroundColor", "#198754");
              heartBtn.find(".fa-heart").css("color", "#ffffff");
          } else {
              heartBtn.css("backgroundColor", "#ffffff");
              heartBtn.find(".fa-heart").css("color", "#198754");
          }
      }
      $(".heart").on("click", function (){
					myFavoriteProduct([[${product.prodId}]], [[${memberId}]], isFavorite);
      })

      async function myFavoriteProduct(prodId, memberId, favorite) {
          const response = await fetch(`/shop/favorite/change?prodId=${prodId}&memberId=${memberId}`, {
              method: 'POST',
              headers: {
                  'Content-Type': 'application/json',
              },
              body: JSON.stringify({ prodId: prodId, memberId: memberId })
          });

          if (response.ok) {
              const message = await response.text();  // response body의 텍스트를 가져옴
              alert(message);  // 응답 메시지를 사용자에게 보여줌
              isFavorite = !isFavorite;  // 찜 상태를 반전
              isFavoriteProduct(isFavorite);  // 버튼 색상 변경
          } else {
              const errorMessage = await response.text();  // 오류 메시지 표시
              if (errorMessage === "로그인해주세요") {
                  alert(errorMessage);
                  window.location.href = '/member/login';  // 로그인 페이지로 리다이렉트
              } else {
                  alert(errorMessage);  // 기타 오류 메시지 표시
              }
          }
      }
	
	</script>



</div> <!--//layout::content-->



</html>







































